// Type
$body-font-size: 16;
$display-font: "museo-sans", sans-serif;
$monospace-font: "source-code-pro", monospace;

// Neutral Colours
$base-01: #181818;
$base-02: #202020;
$base-03: #303030;
$base-04: #606060;
$base-05: #b0b0b0;
$base-06: #e0e0e0;
$base-07: #f0f0f0;
$base-08: #f8f8f8;

// Dark Colours
$red-01: #ac0000;
$orange-01: #bd5000;
$yellow-01: #bf9400;
$green-01: #008b00;
$cyan-01: #007773;
$blue-01: #0051ac;
$violet-01: #740091;
$pink-01: #c63989;

// Light Colours
$red-02: #e14b4b;
$orange-02: #f1924c;
$yellow-02: #f3cd4c;
$green-02: #49c249;
$cyan-02: #48afac;
$blue-02: #4b92e1;
$violet-02: #ae49c8;
$pink-02: #f58ac7;
