@import "variables";
@import "functions";
@import "defaults";

// Layout
.content-container {
  font: #{$body-font-size}px/1.5 $monospace-font;
  -webkit-font-smoothing: subpixel-antialiased;
  text-align: center;
  transform: translate3d(0,0,0);
}

.main-section {
  margin-right: auto;
  margin-left: auto;
  width: percentage(288/320);
  max-width: em(864);
}

// Headings
.heading {
  $font-size: 16;

  margin: 0;
  font: bold em($font-size) $display-font;
}

.section-heading {
  margin-top: percentage(16/320);
  margin-bottom: percentage(4/320);
  letter-spacing: em(2);
  text-transform: uppercase;
}

// Text
.text {
  $font-size: 14;

  margin: to-em(24, $font-size) auto;
  max-width: to-em(648, $font-size);
  font-size: em($font-size);
  text-align: left;

  @media screen and (min-width: 30em) {
    $font-size: 15;

    margin: to-em(24, $font-size) auto;
    max-width: to-em(648, $font-size);
    font-size: em($font-size);
  }
}

// Header
header[role="banner"] {
  margin-top: percentage(24/320);
}

.toggle-icon {
  cursor: pointer;
  transition: cubic-bezier(.5,0,.5,1.25) .25s;
}

.title {
  $font-size: 36;

  font-size: em(36);
  transition: all .25s;
}

.tagline {
  $font-size: 14;

  margin-top: 0;
  font-size: em($font-size);
  text-transform: lowercase;

  &:before {
    content: ">: ";
  }

  .caret {
    display: inline-block;
    animation: blink 1.5s steps(2, start) infinite;
    margin-left: to-em(8, $font-size);
    width: 2px;
    direction: ltr;
    text-indent: -9999px;
  }
}

// About
.button {
  $font-size: 21;

  display: inline-block;
  padding: to-em(6, $font-size) to-em(24, $font-size);
  border-radius: 2px;
  font: bold em($font-size)/1.5 $display-font;
  vertical-align: middle;
  transition: all .25s;

  + small {
    $font-size: 12;

    display: block;
    margin-top: to-em(6, $font-size);
    font-size: $font-size;
    transition: all .25s;
  }
}

// Previews
.preview-section {
  width: 100%;

  @media screen and (min-width: 40em) {
    width: percentage(288/320);
  }
}

.preview-nav {
  $font-size: 14;

  position: relative;
  margin: 0;
  padding: to-em(12, $font-size);
  font-size: em($font-size);
  line-height: 1;
  text-align: center;
  transition: all .25s;

  ul {
    margin: 0;
  }

  li {
    display: inline-block;
    padding: 0 to-em(6, $font-size);
  }

  @media screen and (min-width: 40em) {
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
  }
}

.preview-container {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  width: 100%;
  text-align: left;
  word-wrap: break-word;
  transition: all .25s;

  @media screen and (min-width: 40em) {
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
  }
}

.preview {
  $font-size: 14;

  display: none;
  visibility: hidden;
  margin: 0;
  padding: to-em(16, $font-size);
  min-width: to-em(616, $font-size);
  font: em($font-size) $monospace-font;
  transform: translate3d(0,0,0);
  transition: all .25s;

  &.active {
    display: block;
    visibility: visible;
  }
}

// Editors
.editors-text {
  margin-top: 0;
}

// Colours
.palette-section {
  overflow: hidden;
  width: 100%;
}

.colour-palette {
  position: relative;
  margin: 0 auto;
  padding: 0;
  width: 320px;
  font-size: 0;

  &.neutral {
    margin-top: -8px;
  }

  @media screen and (min-width: 30em) {
    width: 328px;
  }

  @media screen and (min-width: 45em) {
    width: 656px;
  }
}

.palette-text {
  margin-top: 0;
  width: percentage(288/320);
}

// Colour
.colour {
  $font-size: 12;

  display: inline-block;
  position: relative;
  margin-top: 8px;
  margin-left: 4px;
  margin-right: 4px;
  border-radius: 2px;
  width: to-em(66, $font-size);
  height: to-em(66, $font-size);
  font: #{$font-size}px/to-em(66, $font-size) $display-font;
  text-align: center;
  text-transform: uppercase;
  transition: all .25s;

  &:hover, &:focus, &:active {
    cursor: pointer;

    .info {
      opacity: 1;
      visibility: visible;
      top: 50%;
      transform: translate3d(0,0,0) rotate(-2deg) scale(1);
    }
  }

  .tap {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: to-em(66, $font-size);
    height: to-em(66, $font-size);
  }

  b {
    display: inline-block;
    line-height: 1;
    vertical-align: middle;

    em {
      display: block;
      font-size: to-em(30, $font-size);
    }
  }

  em {
    font-style: normal;
  }

  @media screen and (min-width: 30em) {
    $font-size: 14;

    width: to-em(74, $font-size);
    height: to-em(74, $font-size);
    font-size: #{$font-size}px;
    line-height: to-em(74, $font-size);
  }
}

// Colour Info
.info {
  $font-size: 10;

  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 75%;
  left: -32px;
  z-index: 1;
  margin-top: to-em(-27, $font-size);
  padding: to-em(8, $font-size) to-em(6, $font-size);
  width: to-em(128, $font-size);
  height: to-em(54, $font-size);
  background: #fff;
  border-radius: 1px;
  box-shadow:
    0 2px 0 transparentize(#000, .875),
    // Fix for the angular jaggies on iOS devices
    0 0 1px transparentize(#fff, 0);
  color: $base-05;
  font: #{$font-size}px/1.25 $monospace-font;
  text-shadow: none;
  transform: translate3d(0,0,0) rotate(-8deg) scale(.875);
  transform-style: preserve-3d;
  transition: cubic-bezier(.5,0,.75,1.25) .25s;

  li {
    list-style: none;

    &:first-child {
      font-size: to-em(12, $font-size);
      font-weight: bold;
    }
  }

  em {
    display: inline;
    color: $base-03;
  }

  @media screen and (min-width: 30em) {
    $font-size: 12;

    left: -36px;
    margin-top: to-em(-30, $font-size);
    padding: to-em(8, $font-size) to-em(6, $font-size);
    width: to-em(144, $font-size);
    height: to-em(60, $font-size);
    font-size: #{$font-size}px;

    li {
      &:first-child {
        font-size: to-em(14, $font-size);
      }
    }
  }
}

// Neutral Colours
.base-01 {
  background: $base-01;
}

.base-02 {
  background: $base-02;
}

.base-03 {
  background: $base-03;
}

.base-04 {
  background: $base-04;
}

.base-05 {
  background: $base-05;
}

.base-06 {
  background: $base-06;
}

.base-07 {
  background: $base-07;
}

.base-08 {
  background: $base-08;
}

// Dark Colours
.red-01 {
  background: $red-01;
}

.orange-01 {
  background: $orange-01;
}

.yellow-01 {
  background: $yellow-01;
}

.green-01 {
  background: $green-01;
}

.cyan-01 {
  background: $cyan-01;
}

.blue-01 {
  background: $blue-01;
}

.violet-01 {
  background: $violet-01;
}

.pink-01 {
  background: $pink-01;
}

// Light Colours
.red-02 {
  background: $red-02;
}

.orange-02 {
  background: $orange-02;
}

.yellow-02 {
  background: $yellow-02;
}

.green-02 {
  background: $green-02;
}

.cyan-02 {
  background: $cyan-02;
}

.blue-02 {
  background: $blue-02;
}

.violet-02 {
  background: $violet-02;
}

.pink-02 {
  background: $pink-02;
}

// Footer
footer[role="contentinfo"] {
  margin-top: percentage(24/320);
  // Fix the background not repainting in older versions of WebKit
  padding-bottom: percentage(24/320);
}

a.logo {
  display: inline-block;
  opacity: .4;

  &:hover, &:focus {
    opacity: 1;
  }

  &:active {
    img {
      transform: translate3d(0,0,0) rotate(360deg);
    }
  }

  span {
    $font-size: 10;

    display: inline-block;
    width: to-em(96, $font-size);
    font-size: em($font-size);
    letter-spacing: to-em(1, $font-size);
    text-transform: uppercase;

    &:first-child {
      text-align: right;
    }

    &:last-child {
      text-align: left;
    }
  }

  img {
    width: 48px;
    height: auto;
    transform: translate3d(0,0,0) rotate(0deg);
    transition: cubic-bezier(.5,0,.5,1.25) .25s;

    @media screen and (min-width: 30em) {
      width: 64px;
    }
  }
}

// Imports
@import "background";
@import "animations";

// Themes
@import "theme_dark";
@import "theme_light";
