* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-rendering: optimizeLegibility
}

::-moz-selection {
  text-shadow: none
}

::selection {
  text-shadow: none
}

a {
  color: inherit;
  text-decoration: none
}

img {
  vertical-align: middle
}

nav ul {
  padding: 0;
  list-style: none
}

body {
  opacity: 1;
  padding: 3em 1.5em;
  font: 16px/1.5 "source-code-pro", monospace;
  text-align: center;
  -webkit-transition: all .25s;
  -o-transition: all .25s;
  transition: all .25s
}

.wf-loading body {
  opacity: 0;
  -webkit-transition: none;
  -o-transition: none;
  transition: none
}

div[role="main"] {
  margin: 0 auto;
  width: 54em
}

div[role="main"]:before,
div[role="main"]:after {
  content: " ";
  display: table
}

div[role="main"]:after {
  clear: both
}

.large {
  font-size: 2.25em
}

.medium {
  font-size: 0.875em
}

.small {
  font-size: 0.75em
}

h1 {
  margin: 0;
  font: bold 1em "futura-pt", "Futura", sans-serif
}

.tagline {
  margin-top: 0;
  text-transform: lowercase
}

.tagline:before {
  content: "> "
}

.caret {
  display: inline-block;
  -webkit-animation: blink 1.5s steps(2, start) infinite;
  -o-animation: blink 1.5s steps(2, start) infinite;
  animation: blink 1.5s steps(2, start) infinite;
  margin-left: 0.57143em;
  width: 2px;
  direction: ltr;
  text-indent: -9999px
}

.icon {
  opacity: .4;
  cursor: pointer;
  width: 2em;
  height: auto;
  -webkit-transition: all .25s;
  -o-transition: all .25s;
  transition: all .25s
}

.icon:hover,
.icon:focus {
  opacity: 1
}

.pulse {
  -webkit-animation: pulse 6s infinite;
  -o-animation: pulse 6s infinite;
  animation: pulse 6s infinite
}

.main {
  position: fixed;
  z-index: 1;
  width: 100%;
  font-size: 0
}

.main li {
  display: inline-block;
  font: bold 1em "futura-pt", "Futura", sans-serif;
  letter-spacing: 0.125em;
  text-transform: uppercase
}

.main a {
  padding: 0 0.75em
}

.section {
  margin-top: 2em;
  margin-bottom: 0.25em;
  letter-spacing: 0.125em;
  text-transform: uppercase
}

section:first-child p {
  margin-right: auto;
  margin-left: auto;
  width: 41.25em;
  text-align: left
}

.code {
  margin: 0 auto;
  padding: 0;
  width: 60.85714em;
  max-height: 24em;
  overflow: scroll;
  border-radius: 2px;
  counter-reset: li;
  font: 0.875em/1.5 "source-code-pro", monospace;
  list-style: none
}

.code li {
  position: relative
}

.code li:before {
  content: counter(li);
  position: absolute;
  left: 0;
  padding-right: 0.57143em;
  width: 2.28571em;
  counter-increment: li;
  text-align: right
}

.code pre {
  margin: 0;
  padding-left: 3.42857em;
  font-family: inherit;
  text-align: left
}

.andale {
  font-family: "Andale Mono", monospace
}

.monaco {
  font-family: Monaco, monospace
}

.monaco {
  font-family: Menlo, monospace
}

.colours {
  margin: 0;
  padding: 0
}

.colour {
  display: table;
  float: left;
  position: relative;
  margin: 0.375em;
  width: 6em;
  height: 6em;
  border-radius: 2px;
  font: 1em "futura-pt", "Futura", sans-serif;
  letter-spacing: 0.0625em;
  line-height: 1;
  text-shadow: 0 0.0625em 0 rgba(255, 255, 255, 0.125);
  text-transform: uppercase
}

.colour:hover,
.colour:focus {
  cursor: pointer
}

.colour:hover .info,
.colour:focus .info {
  opacity: 1;
  top: 50%;
  -webkit-transform: rotate(-2deg);
  -ms-transform: rotate(-2deg);
  -o-transform: rotate(-2deg);
  transform: rotate(-2deg)
}

.colour b {
  display: table-cell;
  vertical-align: middle
}

.colour b em {
  display: block;
  font-size: 1.75em
}

.colour em {
  font-style: normal
}

.info {
  opacity: 0;
  position: absolute;
  z-index: 1;
  top: 75%;
  left: 50%;
  margin-top: -2.58333em;
  margin-left: -6.5em;
  padding: 0.66667em 0.5em;
  width: 13em;
  height: 5.16667em;
  background: #fff;
  border-radius: 1px;
  box-shadow: 0 0.16667em 0 rgba(0, 0, 0, 0.125);
  color: #b0b0b0;
  font: 0.75em/1.25 "source-code-pro", monospace;
  text-shadow: none;
  -webkit-transform: rotate(-8deg);
  -ms-transform: rotate(-8deg);
  -o-transform: rotate(-8deg);
  transform: rotate(-8deg);
  -webkit-transition: all .25s;
  -o-transition: all .25s;
  transition: all .25s
}

.info li {
  list-style: none
}

.info li:first-child {
  font-size: 1.16667em;
  font-weight: bold
}

.info em {
  display: inline;
  color: #303030
}

.base-01,
.base-02,
.base-03,
.base-04 {
  text-shadow: 0 -0.0625em 0 rgba(0, 0, 0, 0.125)
}

.base-01 {
  background: #181818;
  color: #383838
}

.base-02 {
  background: #202020;
  color: #404040
}

.base-03 {
  background: #303030;
  color: #505050
}

.base-04 {
  background: #606060;
  color: gray
}

.base-05 {
  background: #b0b0b0;
  color: #909090
}

.base-06 {
  background: #e0e0e0;
  color: silver
}

.base-07 {
  background: #f0f0f0;
  color: #d0d0d0
}

.base-08 {
  background: #f8f8f8;
  color: #d8d8d8
}

.red-01 {
  background: #ac0000;
  color: #6c0000
}

.orange-01 {
  background: #bd5000;
  color: #7d3500
}

.yellow-01 {
  background: #bf9400;
  color: #7f6300
}

.green-01 {
  background: #008b00;
  color: #004b00
}

.cyan-01 {
  background: #007773;
  color: #003735
}

.blue-01 {
  background: #0051ac;
  color: #00336c
}

.violet-01 {
  background: #740091;
  color: #410051
}

.pink-01 {
  background: #c63989;
  color: #952b67
}

.red-02 {
  background: #e14b4b;
  color: #af1d1d
}

.orange-02 {
  background: #f1924c;
  color: #cd6010
}

.yellow-02 {
  background: #f3cd4c;
  color: #d1a50e
}

.green-02 {
  background: #49c249;
  color: #2b802b
}

.cyan-02 {
  background: #48afac;
  color: #2c6b69
}

.blue-02 {
  background: #4b92e1;
  color: #1d62af
}

.violet-02 {
  background: #ae49c8;
  color: #752988
}

.pink-02 {
  background: #f58ac7;
  color: #ed329d
}

footer[role="contentinfo"] {
  margin-top: 4em
}

.dark {
  background: #101010;
  color: #b0b0b0
}

.dark ::-moz-selection {
  background: #303030
}

.dark ::selection {
  background: #303030
}

.dark .title,
.dark .section {
  color: #e0e0e0
}

.dark .tagline:before {
  color: #49c249
}

.dark .caret {
  background: #ffd440
}

.dark .code {
  background: #181818;
  color: #e0e0e0
}

.dark .code li:before {
  color: #303030
}

.dark .comment {
  color: #606060
}

.dark .variable,
.dark .support {
  color: #e14b4b
}

.dark .function,
.dark .tag {
  color: #f3cd4c
}

.dark .storage,
.dark .attribute {
  color: #f1924c
}

.dark .string,
.dark .number,
.dark .unit {
  color: #49c249
}

.dark .support.constant {
  color: #48afac
}

.dark .variable.parameter,
.dark .support.type {
  color: #4b92e1
}

.dark .keyword {
  color: #ae49c8
}

.dark .source {
  color: #e0e0e0
}

.dark footer[role="contentinfo"] {
  color: #606060
}

.dark footer[role="contentinfo"] a:hover,
.dark footer[role="contentinfo"] a:focus {
  color: #b0b0b0
}

.light {
  background: #fcfcfc;
  color: #606060
}

.light ::-moz-selection {
  background: #e0e0e0
}

.light ::selection {
  background: #e0e0e0
}

.light .title,
.light .section {
  color: #303030
}

.light .tagline:before {
  color: #008b00
}

.light .caret {
  background: #3191fb
}

.light .icon {
  opacity: .18;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg)
}

.light .icon:hover,
.light .icon:focus {
  opacity: .49
}

.light .code {
  background: #f8f8f8;
  color: #303030
}

.light .code li:before {
  color: #e0e0e0
}

.light .comment {
  color: #b0b0b0
}

.light .variable,
.light .support {
  color: #ac0000
}

.light .function,
.light .tag {
  color: #bf9400
}

.light .storage,
.light .attribute {
  color: #bd5000
}

.light .string,
.light .number,
.light .unit {
  color: #008b00
}

.light .support.constant {
  color: #007773
}

.light .variable.parameter,
.light .support.type {
  color: #0051ac
}

.light .keyword {
  color: #740091
}

.light .source {
  color: #303030
}

.light footer[role="contentinfo"] {
  color: #b0b0b0
}

.light footer[role="contentinfo"] a:hover,
.light footer[role="contentinfo"] a:focus {
  color: #606060
}

@keyframes blink {
  100% {
    visibility: hidden
  }
}

@keyframes pulse {
  0%, 50%, 73%, 100% {
    opacity: .4
  }

  60.5%, 85.5% {
    opacity: 1
  }
}

@-webkit-keyframes blink {
  100% {
    visibility: hidden
  }
}

@-o-keyframes blink {
  100% {
    visibility: hidden
  }
}

@-webkit-keyframes pulse {
  0%, 50%, 73%, 100% {
    opacity: .4
  }

  60.5%, 85.5% {
    opacity: 1
  }
}

@-o-keyframes pulse {
  0%, 50%, 73%, 100% {
    opacity: .4
  }

  60.5%, 85.5% {
    opacity: 1
  }
}