// Dark Theme
body.dark {
  background: #101010;
  color: $base-06;

  h1 {
    color: $base-08;
  }

  p.tagline {
    color: $base-05;

    &:before {
      color: $green-02;
    }
  }

  span.caret {
    background: saturate($yellow-02, 25%);
  }

  ul.examples {
    background: $base-01;

    li {
      &:before {
        color: $base-03;
      }
    }
  }

  .comment {
    color: $base-04;
  }

  .variable, .support {
    color: $red-02;
  }

  .function, .tag {
    color: $yellow-02;
  }

  .storage, .attribute {
    color: $orange-02;
  }

  .string, .number, .unit {
    color: $green-02;
  }

  .support.constant {
    color: $cyan-02;
  }

  .variable.parameter, .support.type {
    color: $blue-02;
  }

  .keyword {
    color: $violet-02;
  }

  .source {
    color: $base-06;
  }
}
