// Dark Theme
body.dark {
  $body: #101010;

  // Neutral
  $background: #181818;
  $line: #202020;
  $selection: #303030;
  $invisibles: #404040;
  $comments: #808080;
  $punctuation: #a0a0a0;
  $foreground: #d0d0d0;
  $highlight: #f0f0f0;

  // Primary
  $red: #d65656;
  $orange: #e59458;
  $yellow: #e7c758;
  $green: #51b951;
  $cyan: #4fa8a5;
  $blue: #5692d6;
  $violet: #a952bf;
  $pink: #ed91c6;

  // Secondary
  $alt-red: #812b2b;
  $alt-orange: #8d572f;
  $alt-yellow: #8f7930;
  $alt-green: #236823;
  $alt-cyan: #1e5957;
  $alt-blue: #2b5481;
  $alt-violet: #5e246c;
  $alt-pink: #9e6183;

  background-color: $body;
  color: $foreground;

  h1 {
    color: $highlight;

    + p {
      &:before {
        color: $green;
      }
    }
  }

  span.caret {
    background-color: saturate($yellow, 25%);
    color: $body;
  }

  ul.code {
    background-color: $background;

    li:before {
      color: $invisibles;
    }
  }

  .comment {
    color: $comments;
  }

  .variable, .support.function {
    color: $red;
  }

  .tag {
    color: $yellow;
  }

  .attribute {
    color: $orange;
  }

  .string, .number, .unit {
    color: $green;
  }

  .support.constant {
    color: $cyan;
  }

  .support.type {
    color: $blue;
  }

  .keyword {
    color: $violet;
  }

  .source {
    color: $foreground;
  }

  // Colour
  li {
    > ul {
      background-color: $highlight;
      color: $comments;
    }

    em {
      color: $background;
    }

    // Neutral
    &.background {
      background-color: $background;
      color: darken($background, 12.5%);
      text-shadow-color: lighten($background, 6.25%);
    }

    &.line {
      background-color: $line;
      color: darken($line, 12.5%);
      text-shadow-color: lighten($line, 6.25%);
    }

    &.selection {
      background-color: $selection;
      color: darken($selection, 12.5%);
      text-shadow-color: lighten($selection, 6.25%);
    }

    &.invisibles {
      background-color: $invisibles;
      color: darken($invisibles, 12.5%);
      text-shadow-color: lighten($invisibles, 6.25%);
    }

    &.comments {
      background-color: $comments;
      color: darken($comments, 12.5%);
      text-shadow-color: lighten($comments, 6.25%);
    }

    &.punctuation {
      background-color: $punctuation;
      color: darken($punctuation, 12.5%);
      text-shadow-color: lighten($punctuation, 6.25%);
    }

    &.foreground {
      background-color: $foreground;
      color: darken($foreground, 12.5%);
      text-shadow-color: lighten($foreground, 6.25%);
    }

    &.highlight {
      background-color: $highlight;
      color: darken($highlight, 12.5%);
      text-shadow-color: lighten($highlight, 6.25%);
    }

    // Primary
    &.red {
      background-color: $red;
      color: darken($red, 12.5%);
      text-shadow-color: lighten($red, 6.25%);
    }

    &.orange {
      background-color: $orange;
      color: darken($orange, 12.5%);
      text-shadow-color: lighten($orange, 6.25%);
    }

    &.yellow {
      background-color: $yellow;
      color: darken($yellow, 12.5%);
      text-shadow-color: lighten($yellow, 6.25%);
    }

    &.green {
      background-color: $green;
      color: darken($green, 12.5%);
      text-shadow-color: lighten($green, 6.25%);
    }

    &.cyan {
      background-color: $cyan;
      color: darken($cyan, 12.5%);
      text-shadow-color: lighten($cyan, 6.25%);
    }

    &.blue {
      background-color: $blue;
      color: darken($blue, 12.5%);
      text-shadow-color: lighten($blue, 6.25%);
    }

    &.violet {
      background-color: $violet;
      color: darken($violet, 12.5%);
      text-shadow-color: lighten($violet, 6.25%);
    }

    &.pink {
      background-color: $pink;
      color: darken($pink, 12.5%);
      text-shadow-color: lighten($pink, 6.25%);
    }

    // Secondary
    &.alt.red {
      background-color: $alt-red;
      color: darken($alt-red, 12.5%);
      text-shadow-color: lighten($alt-red, 6.25%);
    }

    &.alt.orange {
      background-color: $alt-orange;
      color: darken($alt-orange, 12.5%);
      text-shadow-color: lighten($alt-orange, 6.25%);
    }

    &.alt.yellow {
      background-color: $alt-yellow;
      color: darken($alt-yellow, 12.5%);
      text-shadow-color: lighten($alt-yellow, 6.25%);
    }

    &.alt.green {
      background-color: $alt-green;
      color: darken($alt-green, 12.5%);
      text-shadow-color: lighten($alt-green, 6.25%);
    }

    &.alt.cyan {
      background-color: $alt-cyan;
      color: darken($alt-cyan, 12.5%);
      text-shadow-color: lighten($alt-cyan, 6.25%);
    }

    &.alt.blue {
      background-color: $alt-blue;
      color: darken($alt-blue, 12.5%);
      text-shadow-color: lighten($alt-blue, 6.25%);
    }

    &.alt.violet {
      background-color: $alt-violet;
      color: darken($alt-violet, 12.5%);
      text-shadow-color: lighten($alt-violet, 6.25%);
    }

    &.alt.pink {
      background-color: $alt-pink;
      color: darken($alt-pink, 12.5%);
      text-shadow-color: lighten($alt-pink, 6.25%);
    }
  }
}
