// Code Fonts
ul.andale, ul.andale pre {
  font-family: "Andale Mono", monospace;
}

ul.monaco, ul.monaco pre {
  font: Monaco, monospace;
}

ul.monaco, ul.menlo pre {
  font-family: Menlo, monospace;
}
