// Light Theme
body.light {
  background: #fcfcfc;
  color: $base-03;

  h1 {
    color: $base-01;
  }

  p.tagline {
    color: $base-04;

    &:before {
      color: $green-01;
    }
  }

  span.caret {
    background: saturate($blue-02, 25%);
  }

  img#toggle {
    &:hover, &:focus {
      opacity: .25;
    }

    opacity: .125;
    transform: rotate(180deg);
  }

  ul.examples {
    background: $base-08;

    li {
      &:before {
        color: $base-06;
      }
    }
  }

  .comment {
    color: $base-05;
  }

  .variable, .support {
    color: $red-01;
  }

  .function, .tag {
    color: $yellow-01;
  }

  .storage, .attribute {
    color: $orange-01;
  }

  .string, .number, .unit {
    color: $green-01;
  }

  .support.constant {
    color: $cyan-01;
  }

  .variable.parameter, .support.type {
    color: $blue-01;
  }

  .keyword {
    color: $violet-01;
  }

  .source {
    color: $base-03;
  }
}
