// Light Theme
body.light {
  // Primary Colours
  $red-01: #ac0000;
  $orange-01: #bd5000;
  $yellow-01: #bf9400;
  $green-01: #008b00;
  $cyan-01: #007772;
  $blue-01: #0051ac;
  $violet-01: #740091;
  $pink-01: #de218c;

  // Secondary Colours
  $red-02: #ee3e3e;
  $orange-02: #fd9040;
  $yellow-02: #ffd440;
  $green-02: #39d239;
  $cyan-02: #38bfbb;
  $blue-02: #3e91ee;
  $violet-02: #b73ad7;
  $pink-02: #fd82c8;

  background: #fcfcfc;
  color: $base-03;

  h1 {
    color: $base-01;

    + p {
      color: $base-04;

      &:before {
        color: $green-01;
      }
    }
  }

  span.caret {
    background: saturate($blue-02, 25%);
  }

  ul.code {
    background: $base-08;

    li:before {
      color: $base-06;
    }
  }

  .comment {
    color: $base-05;
  }

  .variable, .support {
    color: $red-01;
  }

  .function, .tag {
    color: $yellow-01;
  }

  .storage, .attribute {
    color: $orange-01;
  }

  .string, .number, .unit {
    color: $green-01;
  }

  .support.constant {
    color: $cyan-01;
  }

  .variable.parameter, .support.type {
    color: $blue-01;
  }

  .keyword {
    color: $violet-01;
  }

  .source {
    color: $base-03;
  }

  // Colour
  li {
    > ul {
      background: $base-08;
      color: $base-05;
    }

    em {
      color: $base-04;
    }

    &.colour {
      box-shadow:
        inset 0 -.125em 0 transparentize(#000, .875),
        0 .125em 0 transparentize(#000, .9375)
      ;
    }

    // Primary
    &.red-01 {
      background: $red-01;
      color: darken($red-01, 6.25%);
      text-shadow: 0 .071428571em 0 lighten($red-01, 3.125%);
    }

    &.orange-01 {
      background: $orange-01;
      color: darken($orange-01, 6.25%);
      text-shadow: 0 .071428571em 0 lighten($orange-01, 3.125%);
    }

    &.yellow-01 {
      background: $yellow-01;
      color: darken($yellow-01, 6.25%);
      text-shadow: 0 .071428571em 0 lighten($yellow-01, 3.125%);
    }

    &.green-01 {
      background: $green-01;
      color: darken($green-01, 6.25%);
      text-shadow: 0 .071428571em 0 lighten($green-01, 3.125%);
    }

    &.cyan-01 {
      background: $cyan-01;
      color: darken($cyan-01, 6.25%);
      text-shadow: 0 .071428571em 0 lighten($cyan-01, 3.125%);
    }

    &.blue-01 {
      background: $blue-01;
      color: darken($blue-01, 6.25%);
      text-shadow: 0 .071428571em 0 lighten($blue-01, 3.125%);
    }

    &.violet-01 {
      background: $violet-01;
      color: darken($violet-01, 6.25%);
      text-shadow: 0 .071428571em 0 lighten($violet-01, 3.125%);
    }

    &.pink-01 {
      background: $pink-01;
      color: darken($pink-01, 6.25%);
      text-shadow: 0 .071428571em 0 lighten($pink-01, 3.125%);
    }

    // Secondary
    &.red-02 {
      background: $red-02;
      color: darken($red-02, 12.5%);
      text-shadow: 0 .071428571em 0 lighten($red-02, 6.25%);
    }

    &.orange-02 {
      background: $orange-02;
      color: darken($orange-02, 12.5%);
      text-shadow: 0 .071428571em 0 lighten($orange-02, 6.25%);
    }

    &.yellow-02 {
      background: $yellow-02;
      color: darken($yellow-02, 12.5%);
      text-shadow: 0 .071428571em 0 lighten($yellow-02, 6.25%);
    }

    &.green-02 {
      background: $green-02;
      color: darken($green-02, 12.5%);
      text-shadow: 0 .071428571em 0 lighten($green-02, 6.25%);
    }

    &.cyan-02 {
      background: $cyan-02;
      color: darken($cyan-02, 12.5%);
      text-shadow: 0 .071428571em 0 lighten($cyan-02, 6.25%);
    }

    &.blue-02 {
      background: $blue-02;
      color: darken($blue-02, 12.5%);
      text-shadow: 0 .071428571em 0 lighten($blue-02, 6.25%);
    }

    &.violet-02 {
      background: $violet-02;
      color: darken($violet-02, 12.5%);
      text-shadow: 0 .071428571em 0 lighten($violet-02, 6.25%);
    }

    &.pink-02 {
      background: $pink-02;
      color: darken($pink-02, 12.5%);
      text-shadow: 0 .071428571em 0 lighten($pink-02, 6.25%);
    }
  }
}
