// Light Theme
$highlight-color: saturate($blue-02, 25%);
$background-color: #fcfcfc;

.light {
  background: $background-color;
  color: $base-04;

  // Defaults
  ::-moz-selection {
    background: $base-06;
  }

  ::selection {
    background: $base-06;
  }

  // Background
  .background-container {
    background: $background-color;
  }

  .background {
    opacity: 0;
  }

  // Text
  .text {
    a {
      color: $base-01;

      &:hover, &:focus {
        color: $highlight-color;
      }
    }
  }

  // Header
  .toggle {
    opacity: .18;
    transform: translate3d(0,0,0) rotate(180deg);

    &:hover, &:focus {
      opacity: .49;
    }

    &:active {
      opacity: .18;
    }
  }

  .pulse {
    animation: pulse-light 6s infinite;
  }

  .title, .section {
    color: $base-03;
  }

  .tagline {
    &:before {
      color: $green-01;
    }
  }

  .caret {
    background: $highlight-color;
  }

  // About
  .button {
    background: $highlight-color;
    color: $base-08;

    &:hover, &:focus {
      + small {
        color: $base-04;
      }
    }

    &:active {
      color: $base-01;
    }

    + small {
      color: $base-05;
    }
  }

  // Preview
  .preview-nav {
    background-color: $base-07;
    color: $base-05;
  }

  .preview-link {
    color: $base-05;

    &:hover, &:focus {
      color: $base-01;
    }

    &.active {
      color: $base-04;
    }
  }

  .preview-container {
    background: $base-08;
    border-color: $base-07;
  }

  .preview {
    color: $base-03;
  }

  // Syntax Colours
  .comment {
    color: $base-05;
  }

  .operator {
    color: $base-04;
  }

  .variable, .support {
    color: $red-01;
  }

  .function, .tag, .markup-link {
    color: $yellow-01;
  }

  .storage, .attribute, .markup-url {
    color: $orange-01;
  }

  .string, .number, .unit {
    color: $green-01;
  }

  .support-constant {
    color: $cyan-01;
  }

  .constant, .variable-parameter, .support-type, .markup-heading {
    color: $blue-01;
  }

  .keyword {
    color: $violet-01;
  }

  .variable-interpolation {
    color: $green-02;
  }

  .source {
    color: $base-03;
  }

  // Neutral Colours
  .base-01 {
    color: lighten($base-01, 12.5%);
  }

  .base-02 {
    color: lighten($base-02, 12.5%);
  }

  .base-03 {
    color: lighten($base-03, 12.5%);
  }

  .base-04 {
    color: lighten($base-04, 12.5%);
  }

  .base-05 {
    color: lighten($base-05, 12.5%);
  }

  .base-06 {
    color: lighten($base-06, 12.5%);
  }

  .base-07 {
    color: lighten($base-07, 12.5%);
  }

  .base-08 {
    color: lighten($base-08, 12.5%);
  }

  // Dark Colours
  .red-01 {
    color: lighten($red-01, 12.5%);
  }

  .orange-01 {
    color: lighten($orange-01, 12.5%);
  }

  .yellow-01 {
    color: lighten($yellow-01, 12.5%);
  }

  .green-01 {
    color: lighten($green-01, 12.5%);
  }

  .cyan-01 {
    color: lighten($cyan-01, 12.5%);
  }

  .blue-01 {
    color: lighten($blue-01, 12.5%);
  }

  .violet-01 {
    color: lighten($violet-01, 12.5%);
  }

  .pink-01 {
    color: lighten($pink-01, 12.5%);
  }

  // Light Colours
  .red-02 {
    color: lighten($red-02, 18.75%);
  }

  .orange-02 {
    color: lighten($orange-02, 18.75%);
  }

  .yellow-02 {
    color: lighten($yellow-02, 18.75%);
  }

  .green-02 {
    color: lighten($green-02, 18.75%);
  }

  .cyan-02 {
    color: lighten($cyan-02, 18.75%);
  }

  .blue-02 {
    color: lighten($blue-02, 18.75%);
  }

  .violet-02 {
    color: lighten($violet-02, 18.75%);
  }

  .pink-02 {
    color: lighten($pink-02, 12.5%);
  }

  // Footer
  a.logo {
    opacity: .18;

    &:hover, &:focus {
      opacity: .49;
    }
  }
}
