// Dark Theme
$highlight-color: saturate($yellow-02, 25%);
$background-color: #101010;

.dark {
  background: $background-color;
  color: $base-05;

  ::-moz-selection {
    background: $base-03;
  }

  ::selection {
    background: $base-03;
  }

  a:hover {
    color: $base-08;
  }

  .stars-container {
    background: $background-color;
  }

  .title, .section {
    color: $base-06;
  }

  .tagline {
    &:before {
      color: $green-02;
    }
  }

  .caret {
    background: $highlight-color;
  }

  .code {
    background: $base-01;
    border-color: $base-02;
    color: $base-06;
  }

  .code-examples {
    background-color: $base-02;
    color: $base-04;
  }

  a.active {
    color: $base-05;
  }

  .comment {
    color: $base-04;
  }

  .operator {
    color: $base-05;
  }

  .variable, .support {
    color: $red-02;
  }

  .function, .tag {
    color: $yellow-02;
  }

  .storage, .attribute {
    color: $orange-02;
  }

  .string, .number, .unit {
    color: $green-02;
  }

  .support.constant {
    color: $cyan-02;
  }

  .constant, .variable.parameter, .support.type, .markup-heading {
    color: $blue-02;
  }

  .keyword {
    color: $violet-02;
  }

  .variable.interpolation {
    color: $green-01;
  }

  .source {
    color: $base-06;
  }

  .button {
    background: $highlight-color;
    border: 1px solid $background-color;
    color: $base-01;

    &:hover {
      background: lighten($highlight-color, 12.5%);
      color: $base-01;
    }

    + small {
      color: $base-04;
    }
  }

  // Neutral
  .base-01 {
    color: darken($base-01, 12.5%);
  }

  .base-02 {
    color: darken($base-02, 12.5%);
  }

  .base-03 {
    color: darken($base-03, 12.5%);
  }

  .base-04 {
    color: darken($base-04, 12.5%);
  }

  .base-05 {
    color: darken($base-05, 12.5%);
  }

  .base-06 {
    color: darken($base-06, 12.5%);
  }

  .base-07 {
    color: darken($base-07, 12.5%);
  }

  .base-08 {
    color: darken($base-08, 12.5%);
  }

  // Dark
  .red-01 {
    color: darken($red-01, 12.5%);
  }

  .orange-01 {
    color: darken($orange-01, 12.5%);
  }

  .yellow-01 {
    color: darken($yellow-01, 12.5%);
  }

  .green-01 {
    color: darken($green-01, 12.5%);
  }

  .cyan-01 {
    color: darken($cyan-01, 12.5%);
  }

  .blue-01 {
    color: darken($blue-01, 12.5%);
  }

  .violet-01 {
    color: darken($violet-01, 12.5%);
  }

  .pink-01 {
    color: darken($pink-01, 12.5%);
  }

  // Light
  .red-02 {
    color: darken($red-02, 18.75%);
  }

  .orange-02 {
    color: darken($orange-02, 18.75%);
  }

  .yellow-02 {
    color: darken($yellow-02, 18.75%);
  }

  .green-02 {
    color: darken($green-02, 18.75%);
  }

  .cyan-02 {
    color: darken($cyan-02, 18.75%);
  }

  .blue-02 {
    color: darken($blue-02, 18.75%);
  }

  .violet-02 {
    color: darken($violet-02, 18.75%);
  }

  .pink-02 {
    color: darken($pink-02, 18.75%);
  }

  footer[role="contentinfo"] {
    color: $base-04;

    a {
      &:hover, &:focus {
        color: $base-05;
      }
    }
  }
}
