// Light Theme
$highlight-color: saturate($blue-02, 25%);
$background-color: #fcfcfc;

.light {
  background: $background-color;
  color: $base-04;

  ::-moz-selection {
    background: $base-06;
  }

  ::selection {
    background: $base-06;
  }

  a:hover {
    color: $base-01;
  }

  .stars-container {
    background: $background-color;
  }

  .title, .section {
    color: $base-03;
  }

  .tagline {
    &:before {
      color: $green-01;
    }
  }

  .caret {
    background: $highlight-color;
  }

  .icon {
    &:hover, &:focus {
      opacity: .49;
    }

    opacity: .18;
    transform: rotate(180deg);
  }

  .code {
    background: $base-08;
    border-color: $base-07;
    color: $base-03;
  }

  .comment {
    color: $base-05;
  }

  .variable, .support {
    color: $red-01;
  }

  .function, .tag {
    color: $yellow-01;
  }

  .storage, .attribute {
    color: $orange-01;
  }

  .string, .number, .unit {
    color: $green-01;
  }

  .support.constant {
    color: $cyan-01;
  }

  .variable.parameter, .support.type {
    color: $blue-01;
  }

  .keyword {
    color: $violet-01;
  }

  .source {
    color: $base-03;
  }

  .button {
    background: $highlight-color;
    border: 1px solid $background-color;
    color: $base-08;

    &:hover {
      background: darken($highlight-color, 12.5%);
      color: $base-08;
    }

    + small {
      color: $base-05;
    }
  }

  // Neutral
  .base-01 {
    color: lighten($base-01, 12.5%);
  }

  .base-02 {
    color: lighten($base-02, 12.5%);
  }

  .base-03 {
    color: lighten($base-03, 12.5%);
  }

  .base-04 {
    color: lighten($base-04, 12.5%);
  }

  .base-05 {
    color: lighten($base-05, 12.5%);
  }

  .base-06 {
    color: lighten($base-06, 12.5%);
  }

  .base-07 {
    color: lighten($base-07, 12.5%);
  }

  .base-08 {
    color: lighten($base-08, 12.5%);
  }

  // Dark
  .red-01 {
    color: lighten($red-01, 12.5%);
  }

  .orange-01 {
    color: lighten($orange-01, 12.5%);
  }

  .yellow-01 {
    color: lighten($yellow-01, 12.5%);
  }

  .green-01 {
    color: lighten($green-01, 12.5%);
  }

  .cyan-01 {
    color: lighten($cyan-01, 12.5%);
  }

  .blue-01 {
    color: lighten($blue-01, 12.5%);
  }

  .violet-01 {
    color: lighten($violet-01, 12.5%);
  }

  .pink-01 {
    color: lighten($pink-01, 12.5%);
  }

  // Light
  .red-02 {
    color: lighten($red-02, 18.75%);
  }

  .orange-02 {
    color: lighten($orange-02, 18.75%);
  }

  .yellow-02 {
    color: lighten($yellow-02, 18.75%);
  }

  .green-02 {
    color: lighten($green-02, 18.75%);
  }

  .cyan-02 {
    color: lighten($cyan-02, 18.75%);
  }

  .blue-02 {
    color: lighten($blue-02, 18.75%);
  }

  .violet-02 {
    color: lighten($violet-02, 18.75%);
  }

  .pink-02 {
    color: lighten($pink-02, 12.5%);
  }

  footer[role="contentinfo"] {
    color: $base-05;

    a {
      &:hover, &:focus {
        color: $base-04;
      }
    }
  }
}
