// Dark Theme
$highlight-color: saturate($yellow-02, 25%);
$background-color: #101010;

.dark {
  background: $background-color;
  color: $base-05;

  // Defaults
  ::-moz-selection {
    background: $base-03;
  }

  ::selection {
    background: $base-03;
  }

  // Background
  .stars-container {
    background: $background-color;
  }

  // Header
  .toggle {
    transform: translate3d(0,0,0) rotate(0deg);
  }

  .pulse {
    animation: pulse 6s infinite;
  }

  .title, .section {
    color: $base-06;
  }

  .tagline {
    &:before {
      color: $green-02;
    }
  }

  .caret {
    background: $highlight-color;
  }

  // Code Examples
  .code-example-nav {
    background-color: $base-02;
  }

  .code-example-link {
    color: $base-04;

    &:hover, &:focus {
      color: $base-08;
    }

    &.active {
      color: $base-05;
    }
  }

  .code-examples {
    background: $base-01;
    border-color: $base-02;
  }

  .code-example {
    color: $base-06;
  }

  // Syntax Colours
  .comment {
    color: $base-04;
  }

  .operator {
    color: $base-05;
  }

  .variable, .support {
    color: $red-02;
  }

  .function, .tag {
    color: $yellow-02;
  }

  .storage, .attribute {
    color: $orange-02;
  }

  .string, .number, .unit {
    color: $green-02;
  }

  .support-constant {
    color: $cyan-02;
  }

  .constant, .variable-parameter, .support-type, .markup-heading {
    color: $blue-02;
  }

  .keyword {
    color: $violet-02;
  }

  .variable-interpolation {
    color: $green-01;
  }

  .source {
    color: $base-06;
  }

  // Buttons
  .button {
    background: $highlight-color;
    color: $base-01;

    &:hover, &:focus {
      background: lighten($highlight-color, 12.5%);
      color: $base-01;
    }

    + small {
      color: $base-04;
    }
  }

  // Neutral Colours
  .base-01 {
    color: darken($base-01, 12.5%);
  }

  .base-02 {
    color: darken($base-02, 12.5%);
  }

  .base-03 {
    color: darken($base-03, 12.5%);
  }

  .base-04 {
    color: darken($base-04, 12.5%);
  }

  .base-05 {
    color: darken($base-05, 12.5%);
  }

  .base-06 {
    color: darken($base-06, 12.5%);
  }

  .base-07 {
    color: darken($base-07, 12.5%);
  }

  .base-08 {
    color: darken($base-08, 12.5%);
  }

  // Dark Colours
  .red-01 {
    color: darken($red-01, 12.5%);
  }

  .orange-01 {
    color: darken($orange-01, 12.5%);
  }

  .yellow-01 {
    color: darken($yellow-01, 12.5%);
  }

  .green-01 {
    color: darken($green-01, 12.5%);
  }

  .cyan-01 {
    color: darken($cyan-01, 12.5%);
  }

  .blue-01 {
    color: darken($blue-01, 12.5%);
  }

  .violet-01 {
    color: darken($violet-01, 12.5%);
  }

  .pink-01 {
    color: darken($pink-01, 12.5%);
  }

  // Light Colours
  .red-02 {
    color: darken($red-02, 18.75%);
  }

  .orange-02 {
    color: darken($orange-02, 18.75%);
  }

  .yellow-02 {
    color: darken($yellow-02, 18.75%);
  }

  .green-02 {
    color: darken($green-02, 18.75%);
  }

  .cyan-02 {
    color: darken($cyan-02, 18.75%);
  }

  .blue-02 {
    color: darken($blue-02, 18.75%);
  }

  .violet-02 {
    color: darken($violet-02, 18.75%);
  }

  .pink-02 {
    color: darken($pink-02, 18.75%);
  }

  // Footer
  a.logo {
    color: $base-04;
  }
}
