// Dark Theme
$highlight: saturate($yellow-02, 25%);
$background-color: #101010;

.dark {
  background-color: $background-color;
  color: $base-05;

  ::-moz-selection {
    background: $base-03;
  }

  ::selection {
    background: $base-03;
  }

  a:hover {
    color: $base-08;
  }

  .stars-container {
    background: $background-color;
  }

  .stars {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200%;
  }

  .stars-1 {
    background: url(/images/stars_dark_1.png) top center repeat;
  }

  .stars-2 {
    background: url(/images/stars_dark_2.png) top center repeat;
  }

  .stars-3 {
    background: url(/images/stars_dark_3.png) top center repeat;
  }

  .title, .section {
    color: $base-06;
  }

  .tagline {
    &:before {
      color: $green-02;
    }
  }

  .caret {
    background: $highlight;
  }

  .code {
    background: $base-01;
    color: $base-06;
  }

  .comment {
    color: $base-04;
  }

  .variable, .support {
    color: $red-02;
  }

  .function, .tag {
    color: $yellow-02;
  }

  .storage, .attribute {
    color: $orange-02;
  }

  .string, .number, .unit {
    color: $green-02;
  }

  .support.constant {
    color: $cyan-02;
  }

  .variable.parameter, .support.type {
    color: $blue-02;
  }

  .keyword {
    color: $violet-02;
  }

  .source {
    color: $base-06;
  }

  .button {
    background: $highlight;
    border: 1px solid $background-color;
    color: $base-01;

    &:hover {
      background: lighten($highlight, 12.5%);
      color: $base-01;
    }

    + small {
      color: $base-04;
    }
  }

  footer[role="contentinfo"] {
    color: $base-04;

    a {
      &:hover, &:focus {
        color: $base-05;
      }
    }
  }
}
