// Dark Theme
.dark {
  background: #101010;
  color: $base-05;

  ::-moz-selection {
    background: $base-03;
  }

  ::selection {
    background: $base-03;
  }

  a:hover {
    color: $base-08;
  }

  .title, .section {
    color: $base-06;
  }

  .tagline {
    &:before {
      color: $green-02;
    }
  }

  .caret {
    background: saturate($yellow-02, 25%);
  }

  .main {
    color: $base-04;
  }

  .code {
    background: $base-01;
    color: $base-06;

    li {
      &:before {
        color: $base-03;
      }
    }
  }

  .comment {
    color: $base-04;
  }

  .variable, .support {
    color: $red-02;
  }

  .function, .tag {
    color: $yellow-02;
  }

  .storage, .attribute {
    color: $orange-02;
  }

  .string, .number, .unit {
    color: $green-02;
  }

  .support.constant {
    color: $cyan-02;
  }

  .variable.parameter, .support.type {
    color: $blue-02;
  }

  .keyword {
    color: $violet-02;
  }

  .source {
    color: $base-06;
  }

  footer[role="contentinfo"] {
    color: $base-04;

    a {
      &:hover, &:focus {
        color: $base-05;
      }
    }
  }
}
