// Light Theme
$highlight: saturate($blue-02, 25%);

.light {
  color: $base-04;

  ::-moz-selection {
    background: $base-06;
  }

  ::selection {
    background: $base-06;
  }

  a:hover {
    color: $base-01;
  }

  .stars-container {
    background: #fcfcfc;
  }

  .stars {
    display: none;
  }

  .title, .section {
    color: $base-03;
  }

  .tagline {
    &:before {
      color: $green-01;
    }
  }

  .caret {
    background: $highlight;
  }

  .icon {
    &:hover, &:focus {
      opacity: .49;
    }

    opacity: .18;
    transform: rotate(180deg);
  }

  .code {
    background: $base-08;
    color: $base-03;
  }

  .comment {
    color: $base-05;
  }

  .variable, .support {
    color: $red-01;
  }

  .function, .tag {
    color: $yellow-01;
  }

  .storage, .attribute {
    color: $orange-01;
  }

  .string, .number, .unit {
    color: $green-01;
  }

  .support.constant {
    color: $cyan-01;
  }

  .variable.parameter, .support.type {
    color: $blue-01;
  }

  .keyword {
    color: $violet-01;
  }

  .source {
    color: $base-03;
  }

  .button {
    background: $highlight;
    color: $base-08;

    &:hover {
      background: darken($highlight, 12.5%);
      color: $base-08;
    }

    + small {
      color: $base-05;
    }
  }

  footer[role="contentinfo"] {
    color: $base-05;

    a {
      &:hover, &:focus {
        color: $base-04;
      }
    }
  }
}
