/* ===================================================================
  Encounters
  A smooth little colour scheme for a better world.
=================================================================== */

// Variables

// Colours
$body: #101010;

// Neutral
$background: #181818;
$line: #202020;
$selection: #303030;
$invisibles: #404040;
$comments: #808080;
$punctuation: #a0a0a0;
$foreground: #d0d0d0;
$highlight: #f0f0f0;

// Primary
$primary-red: #cd5954;
$primary-orange: #e39457;
$primary-yellow: #e8c761;
$primary-green: #5eb250;
$primary-aqua: #5ea59b;
$primary-blue: #5f8fc5;
$primary-purple: #a455b0;
$primary-pink: #ed95b9;

// Secondary
$secondary-red: #8c322f;
$secondary-orange: #a36637;
$secondary-yellow: #a98f40;
$secondary-green: #307126;
$secondary-aqua: #316760;
$secondary-blue: #385d86;
$secondary-purple: #682a70;
$secondary-pink: #b87490;

// Typography
$base: 16px;
$display: "futura-pt", sans-serif;
$monospace: "source-code-pro", monospace;

// Styles

// Global
* { box-sizing: border-box; }
a { color: inherit; text-decoration: none; }

// Layout
body {
  background-color: $body;
  color: $foreground;
  font: $base $monospace;
  text-align: center;
}

// Typography
h1 {
  margin-bottom: 0;
  font: bold 2.25em $display;

  + p {
    margin-top: 0;
    text-transform: lowercase;

    &:before {
      content: '>: ';
      color: $primary-green;
    }

    span.caret {
      display: inline-block;
      margin-left: .5em;
      color: $invisibles;
      background-color: $invisibles;
      -webkit-animation: caretAnimation 1.5s infinite;
    }
  }
}

// Colours
dl.colours {
  font-size: 0; // So that inline-blocks don't have extra margins
}

// Colour
dt.colour {
  display: inline-block;
  margin: .375em;
  padding: .5em;
  width: 6em;
  height: 6em;
  border-radius: .125em;
  box-shadow: inset 0 -.125em 0 transparentize(#000, .75);
  font: bold $base $display;
  letter-spacing: .0625em;
  line-height: 1.125em;
  text-transform: uppercase;
  vertical-align: middle;

  &:hover, &:focus {
    cursor: pointer;
  }

  // Neutral
  &.background {
    background-color: $background;
    color: lighten($background, 12.5%);
    text-shadow: 0 -1px 0 darken($background, 12.5%);
  }
  &.line {
    background-color: $line;
    color: lighten($line, 12.5%);
    text-shadow: 0 -1px 0 darken($line, 12.5%);
  }
  &.selection {
    background-color: $selection;
    color: lighten($selection, 12.5%);
    text-shadow: 0 -1px 0 darken($selection, 12.5%);
  }
  &.invisibles {
    background-color: $invisibles;
    color: lighten($invisibles, 12.5%);
    text-shadow: 0 -1px 0 darken($invisibles, 12.5%);
  }
  &.comments {
    background-color: $comments;
    color: darken($comments, 12.5%);
    text-shadow: 0 1px 0 lighten($comments, 12.5%);
  }
  &.punctuation {
    background-color: $punctuation;
    color: darken($punctuation, 12.5%);
    text-shadow: 0 1px 0 lighten($punctuation, 12.5%);
  }
  &.foreground {
    background-color: $foreground;
    color: darken($foreground, 12.5%);
    text-shadow: 0 1px 0 lighten($foreground, 12.5%);
  }
  &.highlight {
    background-color: $highlight;
    color: darken($highlight, 12.5%);
    text-shadow: 0 1px 0 lighten($highlight, 12.5%);
  }

  // Primary
  &.red {
    background-color: $primary-red;
    color: darken($primary-red, 12.5%);
    text-shadow: 0 1px 0 lighten($primary-red, 12.5%);
  }

  &.orange {
    background-color: $primary-orange;
    color: darken($primary-orange, 12.5%);
    text-shadow: 0 1px 0 lighten($primary-orange, 12.5%);
  }

  &.yellow {
    background-color: $primary-yellow;
    color: darken($primary-yellow, 12.5%);
    text-shadow: 0 1px 0 lighten($primary-yellow, 12.5%);
  }

  &.green {
    background-color: $primary-green;
    color: darken($primary-green, 12.5%);
    text-shadow: 0 1px 0 lighten($primary-green, 12.5%);
  }

  &.aqua {
    background-color: $primary-aqua;
    color: darken($primary-aqua, 12.5%);
    text-shadow: 0 1px 0 lighten($primary-aqua, 12.5%);
  }

  &.blue {
    background-color: $primary-blue;
    color: darken($primary-blue, 12.5%);
    text-shadow: 0 1px 0 lighten($primary-blue, 12.5%);
  }

  &.purple {
    background-color: $primary-purple;
    color: darken($primary-purple, 12.5%);
    text-shadow: 0 1px 0 lighten($primary-purple, 12.5%);
  }

  &.pink {
    background-color: $primary-pink;
    color: darken($primary-pink, 12.5%);
    text-shadow: 0 1px 0 lighten($primary-pink, 12.5%);
  }

  // Secondary
  &.dim-red {
    background-color: $secondary-red;
    color: darken($secondary-red, 12.5%);
    text-shadow: 0 1px 0 lighten($secondary-red, 12.5%);
  }
  &.dim-orange {
    background-color: $secondary-orange;
    color: darken($secondary-orange, 12.5%);
    text-shadow: 0 1px 0 lighten($secondary-orange, 12.5%);
  }
  &.dim-yellow {
    background-color: $secondary-yellow;
    color: darken($secondary-yellow, 12.5%);
    text-shadow: 0 1px 0 lighten($secondary-yellow, 12.5%);
  }
  &.dim-green {
    background-color: $secondary-green;
    color: darken($secondary-green, 12.5%);
    text-shadow: 0 1px 0 lighten($secondary-green, 12.5%);
  }
  &.dim-aqua {
    background-color: $secondary-aqua;
    color: darken($secondary-aqua, 12.5%);
    text-shadow: 0 1px 0 lighten($secondary-aqua, 12.5%);
  }
  &.dim-blue {
    background-color: $secondary-blue;
    color: darken($secondary-blue, 12.5%);
    text-shadow: 0 1px 0 lighten($secondary-blue, 12.5%);
  }
  &.dim-purple {
    background-color: $secondary-purple;
    color: darken($secondary-purple, 12.5%);
    text-shadow: 0 1px 0 lighten($secondary-purple, 12.5%);
  }
  &.dim-pink {
    background-color: $secondary-pink;
    color: darken($secondary-pink, 12.5%);
    text-shadow: 0 1px 0 lighten($secondary-pink, 12.5%);
  }
}

// Animations
@-webkit-keyframes caretAnimation {
  0%, 24%, 76%, 100% { opacity: 0; }
  25%, 75% { opacity: 1; }
}
