// Global Variables
$body-size: 16px;
$display: "futura-pt", "Futura", sans-serif;
$monospace: "source-code-pro", monospace;

// Neutral Colours
$base-01: #181818;
$base-02: #202020;
$base-03: #303030;
$base-04: #606060;
$base-05: #b0b0b0;
$base-06: #e0e0e0;
$base-07: #f0f0f0;
$base-08: #f8f8f8;

// Global
* { box-sizing: border-box; text-rendering: optimizeLegibility; }
a { color: inherit; text-decoration: none; }

// Layout
body {
  font: $body-size $monospace;
  text-align: center;
}

[role="main"] {
  margin: 0 auto;
  width: 54em;
}

// Header
h1 {
  margin-bottom: 0;
  font: bold 2.25em $display;

  &.section {
    margin-bottom: .25em;
    font-size: 1em;
    letter-spacing: .125em;
    text-transform: uppercase;
  }

  + p {
    margin-top: 0;
    text-transform: lowercase;

    &:before {
      content: "> ";
    }
  }
}

span.caret {
  display: inline-block;
  animation: caretAnimation 1.5s infinite;
  margin-left: .5em;
  width: .125em;
  text-indent: -9999px;
}

// Code
pre {
  margin: 0;
  padding-left: 32px;
  font: 14px/1.5 $monospace;
  text-align: left;
}

ul.code {
  margin: .5em auto 1.25em;
  padding: .75em;
  width: 53.25em;
  max-height: 21em;
  overflow: scroll;
  border-radius: .125em;
  counter-reset: li;
  line-height: 1.3125em;
  list-style: none;

  &.andale, &.andale pre {
    font-family: "Andale Mono", monospace;
  }

  &.monaco, &.monaco pre {
    font-family: Monaco, monospace;
  }

  &.monaco, &.menlo pre {
    font-family: Menlo, monospace;
  }

  li {
    position: relative;

    &:before {
      content: counter(li);
      position: absolute;
      width: 1.5em;
      font-size: 14px;
      counter-increment: li;
      text-align: right;
    }
  }
}

// Colours
ul.colours {
  margin: 0;
  padding: 0;
  font-size: 0; // So that inline-blocks don't have extra margins
}

// Colour
li {
  &.colour {
    display: table;
    float: left;
    position: relative;
    margin: .375em;
    padding: .5em;
    width: 5em;
    height: 5em;
    border-radius: .125em;
    font: $body-size $display;
    letter-spacing: .0625em;
    line-height: 1.125em;
    text-shadow: 0 1px 0 transparentize(#fff, .9375);
    text-transform: uppercase;

    &:hover, &:focus {
      cursor: pointer;

      > ul {
        opacity: 1;
        bottom: 20%;
        transform: rotate(-2deg);
      }
    }
  }

  // Neutral
  &.base-01 {
    background: $base-01;
    color: lighten($base-01, 12.5%);
    text-shadow: 0 -.071428571em 0 darken($base-01, 6.25%);
  }

  &.base-02 {
    background: $base-02;
    color: lighten($base-02, 12.5%);
    text-shadow: 0 -.071428571em 0 darken($base-02, 6.25%);
  }

  &.base-03 {
    background: $base-03;
    color: lighten($base-03, 12.5%);
    text-shadow: 0 -.071428571em 0 darken($base-03, 6.25%);
  }

  &.base-04 {
    background: $base-04;
    color: lighten($base-04, 12.5%);
    text-shadow: 0 -.071428571em 0 darken($base-04, 6.25%);
  }

  &.base-05 {
    background: $base-05;
    color: darken($base-05, 12.5%);
    text-shadow: 0 .071428571em 0 lighten($base-05, 6.25%);
  }

  &.base-06 {
    background: $base-06;
    color: darken($base-06, 12.5%);
    text-shadow: 0 .071428571em 0 lighten($base-06, 6.25%);
  }

  &.base-07 {
    background: $base-07;
    color: darken($base-07, 12.5%);
    text-shadow: 0 .071428571em 0 lighten($base-07, 6.25%);
  }

  &.base-08 {
    background: $base-08;
    color: darken($base-08, 12.5%);
    text-shadow: 0 .071428571em 0 lighten($base-08, 6.25%);
  }

  b {
    display: table-cell;
    vertical-align: middle;
  }

  > ul {
    opacity: 0;
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: -20%;
    padding: .75em 1em;
    width: 140%;
    border-radius: .333333333em;
    box-shadow: 0 .333333333em 0 transparentize(#000, .875);
    font: 12px/1.166666667em $monospace;
    text-shadow: none;
    transform: rotate(-8deg);
    transition: all .25s;

    li {
      list-style: none;
    }
  }

  em {
    font-style: normal;
  }
}

// Imports
@import "dark";
@import "light";

// Helpers
.group {
  &:before, &:after {
    content: " ";
    display: table;
  }

  &:after {
      clear: both;
  }
}

// Animations
@keyframes caretAnimation {
  0%, 24%, 76%, 100% { opacity: 0; }
  25%, 75% { opacity: 1; }
}
