/* ===================================================================
  Encounters
  A smooth little colour scheme for a better world.
=================================================================== */

// Variables

// Colours
$body: #101010;

// Neutral
$background: #181818;
$line: #202020;
$selection: #303030;
$invisibles: #404040;
$comments: #808080;
$punctuation: #a0a0a0;
$foreground: #d0d0d0;
$highlight: #f0f0f0;

// Primary
$primary-red: #cd5954;
$primary-orange: #e39457;
$primary-yellow: #e8c761;
$primary-green: #5eb250;
$primary-aqua: #5ea59b;
$primary-blue: #5f8fc5;
$primary-purple: #a455b0;
$primary-pink: #ed95b9;

// Secondary
$secondary-red: #8c322f;
$secondary-orange: #a36637;
$secondary-yellow: #a98f40;
$secondary-green: #307126;
$secondary-aqua: #316760;
$secondary-blue: #385d86;
$secondary-purple: #682a70;
$secondary-pink: #b87490;

// Fonts
$display: "futura-pt", sans-serif;
$monospace: "source-code-pro", monospace;

// Styles

// Global
* { box-sizing: border-box; -webkit-transition: all .25s ease; }
a { color: inherit; text-decoration: none; }

// Layout
body {
  background-color: $body;
}

// Typography
body {
  color: $foreground;
  font: 16px $monospace;
  text-align: center;
}

header {
  h1 {
    font: bold 36px $display;
  }
}

// Colours
dl.colours {
  font-size: 0; // So that inline-blocks don't have extra margins
}

// Colour
dt.colour {
  display: inline-block;
  margin: 6px;
  width: 96px;
  height: 96px;
  border-radius: 2px;
  box-shadow: inset 0 -2px 0 transparentize(#000, .75);
  color: transparentize(#000, .75);
  font-size: 16px;
  vertical-align: middle;

  &:hover, &:focus {
    color: transparentize(#fff, .5);
    cursor: pointer;
  }

  // Neutral
  &.background {
    background-color: $background;
  }
  &.line {
    background-color: $line;
  }
  &.selection {
    background-color: $selection;
  }
  &.invisibles {
    background-color: $invisibles;
  }
  &.comments {
    background-color: $comments;
  }
  &.punctuation {
    background-color: $punctuation;
  }
  &.foreground {
    background-color: $foreground;
  }
  &.highlight {
    background-color: $highlight;
  }

  // Primary
  &.red {
    background-color: $primary-red;
  }

  &.orange {
    background-color: $primary-orange;
  }

  &.yellow {
    background-color: $primary-yellow;
  }

  &.green {
    background-color: $primary-green;
  }

  &.aqua {
    background-color: $primary-aqua;
  }

  &.blue {
    background-color: $primary-blue;
  }

  &.purple {
    background-color: $primary-purple;
  }

  &.pink {
    background-color: $primary-pink;
  }

  // Secondary
  &.dim-red {
    background-color: $secondary-red;
  }
  &.dim-orange {
    background-color: $secondary-orange;
  }
  &.dim-yellow {
    background-color: $secondary-yellow;
  }
  &.dim-green {
    background-color: $secondary-green;
  }
  &.dim-aqua {
    background-color: $secondary-aqua;
  }
  &.dim-blue {
    background-color: $secondary-blue;
  }
  &.dim-purple {
    background-color: $secondary-purple;
  }
  &.dim-pink {
    background-color: $secondary-pink;
  }
}
