// Variables
@import "variables";

// Global
* { box-sizing: border-box; text-rendering: optimizeLegibility; }
a { color: inherit; text-decoration: none; }
nav ul { padding: 0; list-style: none; }

// Layout
body {
  opacity: 1;
  padding: 3em 1.5em;
  font: $body-text-size $monospace-font;
  text-align: center;
  transition: all .5s;
}

.wf-loading body {
  opacity: 0;
  transition: none;
}

[role="main"] {
  margin: 0 auto;
  width: 54em;
}

// Header
h1 {
  margin: 0;
  font: bold 2.25em $display-font;

  &.section {
    margin-top: 2em;
    margin-bottom: .25em;
    font-size: 1em;
    letter-spacing: .125em;
    text-transform: uppercase;
  }
}

p.tagline {
  margin-top: 0;
  font-size: 14px;
  text-transform: lowercase;

  &:before {
    content: "> ";
  }
}

span.caret {
  display: inline-block;
  animation: blink 1.5s steps(2, start) infinite;
  margin-left: .5em;
  width: 2px;
  text-indent: -9999px;
}

img#toggle {
  opacity: .4;
  cursor: pointer;
  transition: all .25s;

  &:hover, &:focus {
    opacity: 1;
  }

  &.pulse {
    animation: pulse 6s infinite;
  }
}

nav.main {
  position: fixed;
  z-index: 1;
  width: 100%;
  font-size: 0;

  li {
    display: inline-block;
    font: bold 16px $display-font;
    letter-spacing: .125em;
    text-transform: uppercase;
  }

  a {
    padding: 0 12px;
  }
}

section#intro {
  p {
    margin-right: auto;
    margin-left: auto;
    width: 41.25em;
    text-align: left;
  }
}

// Code
ul.code {
  margin: .5em auto 1.25em;
  padding: 0;
  width: 53.25em;
  max-height: 21em;
  overflow: scroll;
  border-radius: .125em;
  counter-reset: li;
  line-height: 1.3125em;
  list-style: none;

  &.andale, &.andale pre {
    font-family: "Andale Mono", monospace;
  }

  &.monaco, &.monaco pre {
    font-family: Monaco, monospace;
  }

  &.monaco, &.menlo pre {
    font-family: Menlo, monospace;
  }

  li {
    position: relative;

    &:before {
      content: counter(li);
      position: absolute;
      padding-right: 8px;
      width: 32px;
      font-size: 14px;
      counter-increment: li;
      text-align: right;
    }
  }
}

pre {
  margin: 0;
  padding-left: 48px;
  font: 14px/1.5 $monospace-font;
  text-align: left;
}

// Colours
ul.colours {
  margin: 0;
  padding: 0;
  font-size: 0; // So that inline-blocks don't have extra margins
}

li {
  // Colour
  &.colour {
    display: table;
    float: left;
    position: relative;
    margin: .375em;
    width: 96px;
    height: 96px;
    border-radius: .125em;
    font: $body-text-size $display-font;
    letter-spacing: .0625em;
    line-height: 1.125em;
    text-shadow: 0 1px 0 transparentize(#fff, .875);
    text-transform: uppercase;

    &:hover, &:focus {
      cursor: pointer;

      ul.info {
        opacity: 1;
        top: 50%;
        transform: rotate(-2deg);
      }
    }
  }

  // Neutral
  &.base-01, &.base-02, &.base-03, &.base-04 {
    text-shadow: 0 -1px 0 transparentize(#000, .875);
  }
  &.base-01 {
    background: $base-01;
    color: lighten($base-01, 12.5%);
  }

  &.base-02 {
    background: $base-02;
    color: lighten($base-02, 12.5%);
  }

  &.base-03 {
    background: $base-03;
    color: lighten($base-03, 12.5%);
  }

  &.base-04 {
    background: $base-04;
    color: lighten($base-04, 12.5%);
  }

  &.base-05 {
    background: $base-05;
    color: darken($base-05, 12.5%);
  }

  &.base-06 {
    background: $base-06;
    color: darken($base-06, 12.5%);
  }

  &.base-07 {
    background: $base-07;
    color: darken($base-07, 12.5%);
  }

  &.base-08 {
    background: $base-08;
    color: darken($base-08, 12.5%);
  }

  // Dark
  &.red-01 {
    background: $red-01;
    color: darken($red-01, 12.5%);
  }

  &.orange-01 {
    background: $orange-01;
    color: darken($orange-01, 12.5%);
  }

  &.yellow-01 {
    background: $yellow-01;
    color: darken($yellow-01, 12.5%);
  }

  &.green-01 {
    background: $green-01;
    color: darken($green-01, 12.5%);
  }

  &.cyan-01 {
    background: $cyan-01;
    color: darken($cyan-01, 12.5%);
  }

  &.blue-01 {
    background: $blue-01;
    color: darken($blue-01, 12.5%);
  }

  &.violet-01 {
    background: $violet-01;
    color: darken($violet-01, 12.5%);
  }

  &.pink-01 {
    background: $pink-01;
    color: darken($pink-01, 12.5%);
  }

  // Light
  &.red-02 {
    background: $red-02;
    color: darken($red-02, 18.75%);
  }

  &.orange-02 {
    background: $orange-02;
    color: darken($orange-02, 18.75%);
  }

  &.yellow-02 {
    background: $yellow-02;
    color: darken($yellow-02, 18.75%);
  }

  &.green-02 {
    background: $green-02;
    color: darken($green-02, 18.75%);
  }

  &.cyan-02 {
    background: $cyan-02;
    color: darken($cyan-02, 18.75%);
  }

  &.blue-02 {
    background: $blue-02;
    color: darken($blue-02, 18.75%);
  }

  &.violet-02 {
    background: $violet-02;
    color: darken($violet-02, 18.75%);
  }

  &.pink-02 {
    background: $pink-02;
    color: darken($pink-02, 18.75%);
  }

  b {
    display: table-cell;
    vertical-align: middle;
  }

  em {
    display: block;
    font-style: normal;
    font-size: 1.5em;
  }
}

ul.info {
  opacity: 0;
  position: absolute;
  z-index: 1;
  top: 75%;
  left: 50%;
  margin-top: -30px;
  margin-left: -78px;
  padding: 8px .5em;
  width: 156px;
  height: 60px;
  background: #fff;
  border-radius: .166666667em;
  box-shadow: 0 .333333333em 0 transparentize(#000, .875);
  color: $base-05;
  font: 12px/1.166666667em $monospace-font;
  text-shadow: none;
  transform: rotate(-8deg);
  transition: all .25s;

  li {
    list-style: none;
  }

  em {
    display: inline;
    color: $base-03;
    font-size: 1em;
    text-transform: lowercase;
  }
}

footer[role="contentinfo"] {
  margin-top: 4em;
  font-size: 12px;
}

// Themes
@import "theme_dark";
@import "theme_light";

// Helpers
@import "helpers";

// Animations
@keyframes blink {
  100% {
    visibility: hidden;
  }
}

@keyframes pulse {
  0%, 50%, 73%, 100% { opacity: .4; }
  60.5%, 85.5% { opacity: 1; }
}
