@import "variables";
@import "functions";
@import "defaults";
@import "helpers";

// Layout
body {
  opacity: 1;
  margin: 0 auto;
  padding: percentage(16/320) 0;
  width: percentage(288/320);
  max-width: em(864);
  font: #{$body-font-size}px/1.375 $monospace-font;
  text-align: center;
  transition: all .25s;
}

.wf-loading body {
  opacity: 0;
  transition: none;
}

// Sizes
.large {
  font-size: em(36);
}

.medium {
  font-size: em(14);
}

.small {
  font-size: em(12);
}

// Background
.stars-container {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #101010;
  transition: all .25s;
}

.container {
  -webkit-font-smoothing: subpixel-antialiased;
}

// Header
h1 {
  margin: 0;
  font: bold em(16) $display-font;
}

.tagline {
  margin-top: 0;
  text-transform: lowercase;

  &:before {
    content: "> ";
  }
}

.caret {
  display: inline-block;
  animation: blink 1.5s steps(2, start) infinite;
  margin-left: to-em(8, 14);
  width: 2px;
  direction: ltr;
  text-indent: -9999px;
}

.icon {
  opacity: .4;
  cursor: pointer;
  width: em(32);
  height: auto;
  transition: all .25s;

  &:hover, &:focus {
    opacity: 1;
  }
}

.pulse {
  animation: pulse 6s infinite;
}

.main {
  // position: fixed;
  z-index: 1;
  margin: em(24) 0;
  width: 100%;

  ul {
    font-size: 0;
  }

  li {
    display: inline-block;
    font: bold $body-font-size+px $display-font;
    letter-spacing: em(2);
    text-transform: uppercase;
  }

  a {
    padding: 0 em(12);
  }
}

.section {
  margin-top: em(32);
  margin-bottom: em(4);
  letter-spacing: em(2);
  text-transform: uppercase;
}

.about {
  p {
    margin-right: auto;
    margin-left: auto;
    max-width: 40em;
    text-align: left;
  }
}

// Code
.code {
  margin: 0 auto;
  padding: em(16);
  width: 100%;
  overflow: hidden;
  border-radius: 2px;
  text-align: left;
  word-wrap: break-word;
  transition: all .25s;

  pre {
    margin: 0;
    min-width: to-em(720, 14);
    font: em(14)/1.5 $monospace-font;
  }
}

.andale-code {
  font-family: "Andale Mono", monospace;
}

.monaco-code {
  font-family: Monaco, monospace;
}

.menlo-code {
  font-family: Menlo, monospace;
}

// Colours
.colour-list {
  // @include clear-fix;

  position: relative;
  // left: em(-8);
  margin: 0 auto;
  padding: 0;
  // width: em(872);
  font-size: 0;
  text-align: justify;

  &:after {
    content: "";
    display: inline-block;
    width: 100%;
  }
}

// Colour
.colour {
  display: inline-block;
  position: relative;
  width: 74px;
  height: 74px;
  border-radius: 2px;
  font: 16px $display-font;
  letter-spacing: em(1);
  line-height: 74px;
  text-align: center;
  text-transform: uppercase;

  &:hover, &:focus {
    cursor: pointer;

    .info {
      opacity: 1;
      visibility: visible;
      top: 50%;
      transform: rotate(-2deg);
    }
  }

  b {
    display: inline-block;
    font-size: 14px;
    line-height: 1;
    vertical-align: middle;

    em {
      display: block;
      font-size: to-em(28, 14);
    }
  }

  em {
    font-style: normal;
  }
}

// Info Panels
.info {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  z-index: 1;
  top: 75%;
  left: 50%;
  margin-top: to-em(-31, 12);
  margin-left: to-em(-78, 12);
  padding: to-em(8, 12) to-em(6, 12);
  width: to-em(156, 12);
  height: to-em(62, 12);
  background: #fff;
  border-radius: 1px;
  box-shadow: 0 to-em(2, 12) 0 transparentize(#000, .875);
  color: $base-05;
  font: em(12)/1.25 $monospace-font;
  text-shadow: none;
  transform: rotate(-8deg);
  transition: all .25s;

  li {
    list-style: none;

    &:first-child {
      font-size: to-em(14, 12);
      font-weight: bold;
    }
  }

  em {
    display: inline;
    color: $base-03;
  }
}

// Neutral
.base-01, .base-02, .base-03, .base-04 {
  text-shadow: 0 em(-1) 0 transparentize(#000, .875);
}
.base-01 {
  background: $base-01;
  color: lighten($base-01, 12.5%);
}

.base-02 {
  background: $base-02;
  color: lighten($base-02, 12.5%);
}

.base-03 {
  background: $base-03;
  color: lighten($base-03, 12.5%);
}

.base-04 {
  background: $base-04;
  color: lighten($base-04, 12.5%);
}

.base-05 {
  background: $base-05;
  color: darken($base-05, 12.5%);
}

.base-06 {
  background: $base-06;
  color: darken($base-06, 12.5%);
}

.base-07 {
  background: $base-07;
  color: darken($base-07, 12.5%);
}

.base-08 {
  background: $base-08;
  color: darken($base-08, 12.5%);
}

// Dark
.red-01 {
  background: $red-01;
  color: darken($red-01, 12.5%);
}

.orange-01 {
  background: $orange-01;
  color: darken($orange-01, 12.5%);
}

.yellow-01 {
  background: $yellow-01;
  color: darken($yellow-01, 12.5%);
}

.green-01 {
  background: $green-01;
  color: darken($green-01, 12.5%);
}

.cyan-01 {
  background: $cyan-01;
  color: darken($cyan-01, 12.5%);
}

.blue-01 {
  background: $blue-01;
  color: darken($blue-01, 12.5%);
}

.violet-01 {
  background: $violet-01;
  color: darken($violet-01, 12.5%);
}

.pink-01 {
  background: $pink-01;
  color: darken($pink-01, 12.5%);
}

// Light
.red-02 {
  background: $red-02;
  color: darken($red-02, 18.75%);
}

.orange-02 {
  background: $orange-02;
  color: darken($orange-02, 18.75%);
}

.yellow-02 {
  background: $yellow-02;
  color: darken($yellow-02, 18.75%);
}

.green-02 {
  background: $green-02;
  color: darken($green-02, 18.75%);
}

.cyan-02 {
  background: $cyan-02;
  color: darken($cyan-02, 18.75%);
}

.blue-02 {
  background: $blue-02;
  color: darken($blue-02, 18.75%);
}

.violet-02 {
  background: $violet-02;
  color: darken($violet-02, 18.75%);
}

.pink-02 {
  background: $pink-02;
  color: darken($pink-02, 18.75%);
}

footer[role="contentinfo"] {
  margin-top: to-em(48, 12);
}

// Themes
@import "theme_dark";
@import "theme_light";

.button {
  display: inline-block;
  font: bold em(24)/1 $display-font;

  + small {
    display: block;
    margin-top: to-em(6, 14);
    font-size: em(14);
  }
}

// Media Queries
// Base
@media screen and (min-width: 0em) {
  .colour-list {
    // left: em(-12);
    width: 296px;
  }

  // Colour
  .colour {
    // margin-bottom: em(12);
    // margin-left: em(12);
    // width: em(29);
    // height: em(29);
  }
}

// 640px+
@media screen and (min-width: 40em) {
  .colour-list {
    // width: 584px;
  }
  .colour {
    // width: em(65);
    // height: em(65);
  }
}

@media screen and (min-width: 60em) {
  .colour-list {
    width: 648px;

    + .colour-list {
      margin-top: 8px;
    }
  }

  // Colour
  .colour {

  }
}

// Animations
@keyframes blink {
  100% {
    visibility: hidden;
  }
}

@keyframes pulse {
  0%, 50%, 73%, 100% { opacity: .4; }
  60.5%, 85.5% { opacity: 1; }
}
