@import "variables";
@import "functions";
@import "defaults";
@import "helpers";

// Layout
body {
  opacity: 1;
  margin: 0 auto;
  padding: percentage(24/320) 0;
  width: percentage(288/320);
  max-width: em(864);
  font: #{$body-font-size}px/1.375 $monospace-font;
  text-align: center;
  transition: all .25s;
}

.wf-loading body {
  opacity: 0;
  transition: none;
}

// Background
.stars-container {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all .25s;
}

.stars {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
}

.stars-1 {
  background: url(/images/stars_dark_1.png) top center repeat;
}

.stars-2 {
  background: url(/images/stars_dark_2.png) top center repeat;
}

.stars-3 {
  background: url(/images/stars_dark_3.png) top center repeat;
}

.container {
  overflow: hidden;
  -webkit-font-smoothing: subpixel-antialiased;
}

// Header
.heading {
  margin: 0;
  font: bold em(16) $display-font;
}

.tagline {
  margin-top: 0;
  text-transform: lowercase;

  &:before {
    content: "> ";
  }
}

.caret {
  display: inline-block;
  animation: blink 1.5s steps(2, start) infinite;
  margin-left: to-em(8, 14);
  width: 2px;
  direction: ltr;
  text-indent: -9999px;
}

.icon {
  opacity: .4;
  cursor: pointer;
  width: em(32);
  height: auto;
  transition: all .25s;

  &:hover, &:focus {
    opacity: 1;
  }
}

.pulse {
  animation: pulse 6s infinite;
}

.section-heading {
  margin-top: percentage(16/320);
  margin-bottom: percentage(4/320);
  letter-spacing: em(2);
  text-transform: uppercase;
}

.about {
  margin-right: auto;
  margin-left: auto;
  max-width: 40em;
  text-align: left;
}

// Code
.code {
  position: relative;
  margin: 0 auto;
  width: 100%;
  overflow: hidden;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-style: solid;
  border-width: 1px;
  border-top-width: 0;
  text-align: left;
  word-wrap: break-word;
  transition: all .25s;

  pre {
    margin: 0;
    padding: em(16);
    min-width: to-em(862, 14);
    font: 1em/1.5 $monospace-font;
  }
}

.code-examples {
  position: relative;
  margin: 0;
  padding: em(8);
  font-weight: normal;
  text-align: center;
  transition: all .25s;

  ul {
    margin: 0;
  }

  .code-example {
    display: inline-block;
    padding: 0 em(6);
  }
}

.example {
  opacity: 0;
  position: absolute;
  top: 0;
  transition: all .25s;

  &:first-child {
    position: relative;
  }

  &.active {
    opacity: 1;
  }
}

// Colours
.colour-list {
  position: relative;
  margin: 0 auto;
  padding: 0;
  font-size: 0;
  text-align: justify;

  &.neutral {
    margin-top: -8px;
  }

  &:after {
    content: "";
    display: inline-block;
    width: 100%;
  }
}

// Colour
.colour {
  display: inline-block;
  position: relative;
  margin-top: em(8);
  border-radius: 2px;
  font: 16px $display-font;
  letter-spacing: em(1);
  text-align: center;
  text-transform: uppercase;
  transition: all .25s;

  &:hover, &:focus {
    cursor: pointer;

    .info {
      opacity: 1;
      visibility: visible;
      top: 50%;
      transform: rotate(-2deg);
    }
  }

  b {
    display: inline-block;
    line-height: 1;
    vertical-align: middle;

    em {
      display: block;
      font-size: to-em(28, 14);
    }
  }

  em {
    font-style: normal;
  }
}

// Info Panels
.info {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  z-index: 1;
  top: 75%;
  left: 50%;
  margin-top: to-em(-31, 12);
  margin-left: to-em(-78, 12);
  padding: to-em(8, 12) to-em(6, 12);
  width: to-em(156, 12);
  height: to-em(62, 12);
  background: #fff;
  border-radius: 1px;
  box-shadow: 0 to-em(2, 12) 0 transparentize(#000, .875);
  color: $base-05;
  font: em(12)/1.25 $monospace-font;
  text-shadow: none;
  transform: rotate(-8deg);
  transition: all .25s;

  li {
    list-style: none;

    &:first-child {
      font-size: to-em(14, 12);
      font-weight: bold;
    }
  }

  em {
    display: inline;
    color: $base-03;
  }
}

// Neutral
.base-01 {
  background: $base-01;
}

.base-02 {
  background: $base-02;
}

.base-03 {
  background: $base-03;
}

.base-04 {
  background: $base-04;
}

.base-05 {
  background: $base-05;
}

.base-06 {
  background: $base-06;
}

.base-07 {
  background: $base-07;
}

.base-08 {
  background: $base-08;
}

// Dark
.red-01 {
  background: $red-01;
}

.orange-01 {
  background: $orange-01;
}

.yellow-01 {
  background: $yellow-01;
}

.green-01 {
  background: $green-01;
}

.cyan-01 {
  background: $cyan-01;
}

.blue-01 {
  background: $blue-01;
}

.violet-01 {
  background: $violet-01;
}

.pink-01 {
  background: $pink-01;
}

// Light
.red-02 {
  background: $red-02;
}

.orange-02 {
  background: $orange-02;
}

.yellow-02 {
  background: $yellow-02;
}

.green-02 {
  background: $green-02;
}

.cyan-02 {
  background: $cyan-02;
}

.blue-02 {
  background: $blue-02;
}

.violet-02 {
  background: $violet-02;
}

.pink-02 {
  background: $pink-02;
}

footer[role="contentinfo"] {
  margin-top: percentage(24/320);
  text-transform: uppercase;
}

a.logo {
  display: inline-block;
  opacity: .2;
  letter-spacing: em(2);

  &:hover, &:focus {
    opacity: .8;
  }

  span {
    display: inline-block;
    width: 96px;

    &:first-child {
      text-align: right;
    }

    &:last-child {
      text-align: left;
    }
  }
}

// Imports
@import "buttons";
@import "animations";

// Themes
@import "theme_dark";
@import "theme_light";

// Media Queries
// Base
@media screen and (min-width: 0em) {
  // Font Sizes
  .huge {
    font-size: em(28);
  }

  .large {
    font-size: em(22);
  }

  .medium {
    font-size: em(14);
  }

  .small {
    font-size: em(12);
  }

  .tiny {
    font-size: em(10);
  }

  // Colours
  .colour-list {
    width: 288px;
  }

  // Colour
  .colour {
    width: em(66);
    height: em(66);
    line-height: em(66);
  }
}

// 640px+
@media screen and (min-width: 30em) {
  // Font Sizes
  .huge {
    font-size: em(36);
  }

  .large {
    font-size: em(24);
  }

  .medium {
    font-size: em(16);
  }

  .small {
    font-size: em(14);
  }

  .tiny {
    font-size: em(10);
  }


  // Colours
  .colour-list {
    width: 320px;
  }

  // Colour
  .colour {
    width: em(74);
    height: em(74);
    line-height: em(74);
  }
}

// 720px+
@media screen and (min-width: 45em) {
  // Colours
  .colour-list {
    width: 648px;
  }
}
