/* ===================================================================
  Encounters
  A smooth little colour scheme for a better world.
=================================================================== */

// Variables
$base: 16px;
$display: "futura-pt", sans-serif;
$monospace: "source-code-pro", monospace;

// Imports
@import "dark";
@import "light";

// Global
* { box-sizing: border-box; text-rendering: optimizeLegibility; transition: all .25s ease-in-out; }
a { color: inherit; text-decoration: none; }

// Layout
body {
  opacity: 1;
  padding: .375em;
  font: $base $monospace;
  text-align: center;
  transition: opacity 2s;
}

.wf-loading body {
  opacity: 0;
  transition: none;
}

[role="main"] {
  margin: 0 auto;
  width: 54em;
}

// Header
h1 {
  margin-bottom: 0;
  font: bold 2.25em $display;

  + p {
    margin-top: 0;
    text-transform: lowercase;

    &:before {
      content: "> ";
    }
  }
}

span.caret {
  display: inline-block;
  animation: caretAnimation 1.5s infinite;
  margin-left: .5em;
  width: .125em;
  text-indent: -9999px;
}

// Colours
ul.colours {
  margin: 0;
  padding: 0;
  font-size: 0; // So that inline-blocks don't have extra margins
}

// Colour
li {
  &.colour {
    display: table;
    float: left;
    position: relative;
    margin: .375em;
    padding: .5em;
    width: 5em;
    height: 5em;
    border-radius: .125em;
    box-shadow: inset 0 -.125em 0 transparentize(#000, .75);
    font: bold $base $display;
    letter-spacing: .0625em;
    line-height: 1.125em;
    text-shadow: 0 1px 0 transparentize(#fff, .9375);
    text-transform: uppercase;

    &:hover, &:focus {
      cursor: pointer;

      > ul {
        opacity: 1;
        bottom: 20%;
        transform: rotate(-2deg);
      }
    }
  }

  b {
    display: table-cell;
    vertical-align: middle;
  }

  > ul {
    opacity: 0;
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: -20%;
    padding: .75em 1em;
    width: 140%;
    border-radius: .333333333em;
    box-shadow: 0 .333333333em 0 transparentize(#000, .875);
    font: 12px/1.166666667em $monospace;
    text-shadow: none;
    transform: rotate(-8deg);

    li {
      list-style: none;
    }
  }

  em {
    font-style: normal;
  }
}

// Helpers
.group {
  &:before, &:after {
    content: " ";
    display: table;
  }

  &:after {
      clear: both;
  }
}

// Animations
@keyframes caretAnimation {
  0%, 24%, 76%, 100% { opacity: 0; }
  25%, 75% { opacity: 1; }
}
