@import "variables";
@import "functions";
@import "defaults";

// Layout
body {
  opacity: 1;
  transition: all .25s;
}

.wf-loading body {
  opacity: 0;
  transition: none;
}

.content-container {
  margin: percentage(24/320) auto;
  width: percentage(288/320);
  max-width: em(864);
  font: #{$body-font-size}px/1.375 $monospace-font;
  -webkit-font-smoothing: subpixel-antialiased;
  text-align: center;
  transform: translate3d(0,0,0);
}

// Background
.stars-container {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all .25s;
}

.stars {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;

  @media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-device-pixel-ratio: 2) {
    background-size: 640px 640px;
  }
}

.stars-1 {
  background: url(/images/stars_dark_1.png) top center repeat;
}

.stars-2 {
  background: url(/images/stars_dark_2.png) top center repeat;
}

.stars-3 {
  background: url(/images/stars_dark_3.png) top center repeat;
}

// Header
.toggle {
  opacity: .4;
  cursor: pointer;
  transition: cubic-bezier(.5,0,.5,1.25) .25s;

  &:hover, &:focus {
    opacity: 1;
  }
}

.pulse {
  animation: pulse 6s infinite;
}

.heading {
  $font-size: 16;

  margin: 0;
  font: em($font-size) $display-font;
}

.title {
  $font-size: 36;

  font-size: em(36);
  transition: all .25s;
}

.tagline {
  $font-size: 14;

  margin-top: 0;
  font-size: em($font-size);
  text-transform: lowercase;

  &:before {
    content: "> ";
  }

  .caret {
    display: inline-block;
    animation: blink 1.5s steps(2, start) infinite;
    margin-left: to-em(8, $font-size);
    width: 2px;
    direction: ltr;
    text-indent: -9999px;
  }
}

// Text
.section-heading {
  margin-top: percentage(16/320);
  margin-bottom: percentage(4/320);
  letter-spacing: em(2);
  text-transform: uppercase;
}

.about-text {
  margin-right: auto;
  margin-left: auto;
  max-width: 40em;
  text-align: left;
}

// Code Examples
.code-example-list {
  $font-size: 14;

  position: relative;
  margin: 0;
  padding: to-em(12, $font-size);
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  font: em($font-size)/1 $display-font;
  text-align: center;
  transition: all .25s;

  ul {
    margin: 0;
  }

  li {
    display: inline-block;
    padding: 0 to-em(6, $font-size);
  }
}

.code-examples {
  position: relative;
  margin: 0 auto;
  width: 100%;
  overflow: hidden;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  text-align: left;
  word-wrap: break-word;
  transition: all .25s;
}

.code-example {
  $font-size: 14;

  opacity: 0;
  position: absolute;
  top: 0;
  margin: 0;
  padding: to-em(16, $font-size);
  min-width: to-em(862, $font-size);
  font: em($font-size)/1.5 $monospace-font;
  transform: translate3d(0,0,0);
  transition: all .25s;

  &:first-child {
    position: relative;
  }

  &.active {
    opacity: 1;
  }
}

// Colours
.colours-section {
  margin: 0 auto;
  width: em(288);

  @media screen and (min-width: 30em) {
    width: em(320);
  }

  @media screen and (min-width: 45em) {
    width: em(648);
  }
}

.colour-list {
  position: relative;
  margin: 0;
  margin-left: -8px;
  padding: 0;
  width: 296px;
  font-size: 0;

  &.neutral {
    margin-top: -8px;
  }

  &:after {
    content: "";
    display: inline-block;
    width: 100%;
  }

  @media screen and (min-width: 30em) {
    width: 328px;
  }

  @media screen and (min-width: 45em) {
    width: 656px;
  }
}

// Colour
.colour {
  $font-size: 12;

  display: inline-block;
  position: relative;
  margin-top: 8px;
  margin-left: 8px;
  border-radius: 2px;
  width: to-em(66, $font-size);
  height: to-em(66, $font-size);
  font: #{$font-size}px/to-em(66, $font-size) $display-font;
  letter-spacing: to-em(1, $font-size);
  text-align: center;
  text-transform: uppercase;
  transition: all .25s;

  &:hover, &:focus {
    cursor: pointer;

    .info {
      opacity: 1;
      visibility: visible;
      top: 50%;
      transform: translate3d(0,0,0) rotate(-2deg) scale(1);
    }
  }

  b {
    display: inline-block;
    line-height: 1;
    vertical-align: middle;

    em {
      display: block;
      font-size: to-em(30, $font-size);
    }
  }

  em {
    font-style: normal;
  }

  @media screen and (min-width: 30em) {
    $font-size: 14;

    width: to-em(74, $font-size);
    height: to-em(74, $font-size);
    font-size: #{$font-size}px;
    line-height: to-em(74, $font-size);
  }
}

// Colour Info
.info {
  $font-size: 12;

  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 75%;
  left: -39px;
  z-index: 1;
  margin-top: to-em(-31, $font-size);
  padding: to-em(8, $font-size) to-em(6, $font-size);
  width: to-em(156, $font-size);
  height: to-em(62, $font-size);
  background: #fff;
  border-radius: 1px;
  box-shadow: 0 to-em(2, $font-size) 0 transparentize(#000, .875);
  color: $base-05;
  font: #{$font-size}px/1.25 $monospace-font;
  text-shadow: none;
  transform: translate3d(0,0,0) rotate(-8deg) scale(.875);
  transition: cubic-bezier(.5,0,.75,1.5) .25s;

  li {
    list-style: none;

    &:first-child {
      font-size: to-em(14, $font-size);
      font-weight: bold;
    }
  }

  em {
    display: inline;
    color: $base-03;
  }
}

// Neutral Colours
.base-01 {
  background: $base-01;
}

.base-02 {
  background: $base-02;
}

.base-03 {
  background: $base-03;
}

.base-04 {
  background: $base-04;
}

.base-05 {
  background: $base-05;
}

.base-06 {
  background: $base-06;
}

.base-07 {
  background: $base-07;
}

.base-08 {
  background: $base-08;
}

// Dark Colours
.red-01 {
  background: $red-01;
}

.orange-01 {
  background: $orange-01;
}

.yellow-01 {
  background: $yellow-01;
}

.green-01 {
  background: $green-01;
}

.cyan-01 {
  background: $cyan-01;
}

.blue-01 {
  background: $blue-01;
}

.violet-01 {
  background: $violet-01;
}

.pink-01 {
  background: $pink-01;
}

// Light Colours
.red-02 {
  background: $red-02;
}

.orange-02 {
  background: $orange-02;
}

.yellow-02 {
  background: $yellow-02;
}

.green-02 {
  background: $green-02;
}

.cyan-02 {
  background: $cyan-02;
}

.blue-02 {
  background: $blue-02;
}

.violet-02 {
  background: $violet-02;
}

.pink-02 {
  background: $pink-02;
}

// Footer
footer[role="contentinfo"] {
  margin-top: percentage(24/320);
}

a.logo {
  display: inline-block;
  opacity: .2;

  &:hover, &:focus {
    opacity: .8;
  }

  &:active {
    img {
      transform: translate3d(0,0,0) rotate(360deg);
    }
  }

  span {
    $font-size: 10;

    display: inline-block;
    width: to-em(96, $font-size);
    font-size: em($font-size);
    letter-spacing: to-em(1, $font-size);
    text-transform: uppercase;

    &:first-child {
      text-align: right;
    }

    &:last-child {
      text-align: left;
    }
  }

  img {
    transform: translate3d(0,0,0) rotate(0deg);
    transition: cubic-bezier(.5,0,.5,1.25) .25s;
  }
}

// Imports
@import "buttons";
@import "animations";

// Themes
@import "theme_dark";
@import "theme_light";
