/* ===================================================================
  Encounters
  A smooth little colour scheme for a better world.
=================================================================== */

// Variables

// Colours
$body: #101010;

// Neutral
$background: #181818;
$line: #202020;
$selection: #303030;
$invisibles: #404040;
$comments: #808080;
$punctuation: #a0a0a0;
$foreground: #d0d0d0;
$highlight: #f0f0f0;

// Primary
$red: #d65656;
$orange: #e59458;
$yellow: #e7c758;
$green: #51b951;
$cyan: #4fa8a5;
$blue: #5692d6;
$violet: #a952bf;
$pink: #ed91c6;

// Secondary
$alt-red: #812b2b;
$alt-orange: #8d572f;
$alt-yellow: #8f7930;
$alt-green: #236823;
$alt-cyan: #1e5957;
$alt-blue: #2b5481;
$alt-violet: #5e246c;
$alt-pink: #9e6183;

// Typography
$base: 16px;
$display: "futura-pt", sans-serif;
$monospace: "source-code-pro", monospace;

// Styles

// Global
* { box-sizing: border-box; transition: all .2s ease-in-out; }
a { color: inherit; text-decoration: none; }

// Layout
body {
  padding: .375em;
  background-color: $body;
  color: $foreground;
  font: $base $monospace;
  text-align: center;
}

[role="main"] {
  margin: 0 auto;
  width: 54em;
}

// Typography
h1 {
  margin-bottom: 0;
  color: $highlight;
  font: bold 2.25em $display;

  + p {
    margin-top: 0;
    text-transform: lowercase;

    &:before {
      content: "> ";
      color: $green;
    }

    span.caret {
      display: inline-block;
      animation: caretAnimation 1.5s infinite;
      margin-left: .5em;
      width: .125em;
      background-color: saturate($yellow, 25%);
      color: $body;
      text-indent: -9999px;
    }
  }
}

// Colours
ul.colours {
  margin: 0;
  padding: 0;
  font-size: 0; // So that inline-blocks don't have extra margins

  > li {
    display: table;
    float: left;
    position: relative;
    margin: .375em;
    padding: .5em;
    width: 5em;
    height: 5em;
    border-radius: .125em;
    box-shadow: inset 0 -.125em 0 transparentize(#000, .75);
    font: bold $base $display;
    letter-spacing: .0625em;
    line-height: 1.125em;
    text-transform: uppercase;

    &:hover, &:focus {
      cursor: pointer;

      > ul {
        opacity: 1;
        bottom: 20%;
        transform: rotate(-2deg);
      }
    }

    // Neutral
    &.background {
      background-color: $background;
      color: darken($background, 12.5%);
      text-shadow: 0 1px 0 lighten($background, 6.25%);
    }

    &.line {
      background-color: $line;
      color: darken($line, 12.5%);
      text-shadow: 0 1px 0 lighten($line, 6.25%);
    }

    &.selection {
      background-color: $selection;
      color: darken($selection, 12.5%);
      text-shadow: 0 1px 0 lighten($selection, 6.25%);
    }

    &.invisibles {
      background-color: $invisibles;
      color: darken($invisibles, 12.5%);
      text-shadow: 0 1px 0 lighten($invisibles, 6.25%);
    }

    &.comments {
      background-color: $comments;
      color: darken($comments, 12.5%);
      text-shadow: 0 1px 0 lighten($comments, 6.25%);
    }

    &.punctuation {
      background-color: $punctuation;
      color: darken($punctuation, 12.5%);
      text-shadow: 0 1px 0 lighten($punctuation, 6.25%);
    }

    &.foreground {
      background-color: $foreground;
      color: darken($foreground, 12.5%);
      text-shadow: 0 1px 0 lighten($foreground, 6.25%);
    }

    &.highlight {
      background-color: $highlight;
      color: darken($highlight, 12.5%);
      text-shadow: 0 1px 0 lighten($highlight, 6.25%);
    }

    // Primary
    &.red {
      background-color: $red;
      color: darken($red, 12.5%);
      text-shadow: 0 1px 0 lighten($red, 6.25%);
    }

    &.orange {
      background-color: $orange;
      color: darken($orange, 12.5%);
      text-shadow: 0 1px 0 lighten($orange, 6.25%);
    }

    &.yellow {
      background-color: $yellow;
      color: darken($yellow, 12.5%);
      text-shadow: 0 1px 0 lighten($yellow, 6.25%);
    }

    &.green {
      background-color: $green;
      color: darken($green, 12.5%);
      text-shadow: 0 1px 0 lighten($green, 6.25%);
    }

    &.cyan {
      background-color: $cyan;
      color: darken($cyan, 12.5%);
      text-shadow: 0 1px 0 lighten($cyan, 6.25%);
    }

    &.blue {
      background-color: $blue;
      color: darken($blue, 12.5%);
      text-shadow: 0 1px 0 lighten($blue, 6.25%);
    }

    &.violet {
      background-color: $violet;
      color: darken($violet, 12.5%);
      text-shadow: 0 1px 0 lighten($violet, 6.25%);
    }

    &.pink {
      background-color: $pink;
      color: darken($pink, 12.5%);
      text-shadow: 0 1px 0 lighten($pink, 6.25%);
    }

    // Secondary
    &.alt-red {
      background-color: $alt-red;
      color: darken($alt-red, 12.5%);
      text-shadow: 0 1px 0 lighten($alt-red, 6.25%);
    }

    &.alt-orange {
      background-color: $alt-orange;
      color: darken($alt-orange, 12.5%);
      text-shadow: 0 1px 0 lighten($alt-orange, 6.25%);
    }

    &.alt-yellow {
      background-color: $alt-yellow;
      color: darken($alt-yellow, 12.5%);
      text-shadow: 0 1px 0 lighten($alt-yellow, 6.25%);
    }

    &.alt-green {
      background-color: $alt-green;
      color: darken($alt-green, 12.5%);
      text-shadow: 0 1px 0 lighten($alt-green, 6.25%);
    }

    &.alt-cyan {
      background-color: $alt-cyan;
      color: darken($alt-cyan, 12.5%);
      text-shadow: 0 1px 0 lighten($alt-cyan, 6.25%);
    }

    &.alt-blue {
      background-color: $alt-blue;
      color: darken($alt-blue, 12.5%);
      text-shadow: 0 1px 0 lighten($alt-blue, 6.25%);
    }

    &.alt-violet {
      background-color: $alt-violet;
      color: darken($alt-violet, 12.5%);
      text-shadow: 0 1px 0 lighten($alt-violet, 6.25%);
    }

    &.alt-pink {
      background-color: $alt-pink;
      color: darken($alt-pink, 12.5%);
      text-shadow: 0 1px 0 lighten($alt-pink, 6.25%);
    }

    > ul {
      opacity: 0;
      position: absolute;
      z-index: 1;
      bottom: 0;
      left: -20%;
      padding: .75em 1em;
      width: 140%;
      background-color: $highlight;
      border-radius: .333333333em;
      box-shadow: 0 .333333333em 0 transparentize(#000, .875);
      color: $comments;
      font: 12px/1.166666667em $monospace;
      text-shadow: none;
      transform: rotate(-8deg);

      li {
        list-style: none;
      }

      em {
        color: $background;
        font-style: normal;
      }
    }
  }

  b {
    display: table-cell;
    vertical-align: middle;
  }
}

// Helpers
.group {
  &:before, &:after {
    content: " ";
    display: table;
  }

  &:after {
      clear: both;
  }
}

// Animations
@keyframes caretAnimation {
  0%, 24%, 76%, 100% { opacity: 0; }
  25%, 75% { opacity: 1; }
}
